In [8]:
import pandas as pd

excel_obj = pd.ExcelFile('mock_isp_data.xlsx')

print(f'รายชื่อชีททั้งหมด {excel_obj.sheet_names}')

df = excel_obj.parse('Main_Data', dtype={'MSISDN': str})

df.head()

รายชื่อชีททั้งหมด ['Main_Data', 'Metadata']

,MSISDN,RC_RATE,SUBS_STATUS,CUST_FULL_NAME,PRODUCT_TYPE,CONTRACT_START_DT,CONTRACT_END_DT
0,0960673105,599,Active,ABC Corp,FTTH,2023-01-01,2024-01-01
1,0912345678,899,Active,"XYZ Co.,Ltd",Mobile,2023-05-15,2024-05-15
2,0812345678,1200,Suspended,Pah Nattapong Service,Mobile,2022-10-20,2023-10-20
3,0612345678,449,Active,JukThong Tech,DATA SERVICE,2024-01-10,2025-01-10
4,0998887776,299,Terminated,Sample Client,FTTH,2023-12-01,2024-12-01

In [13]:
df.info()
row, col = df.shape
print(f'แถวทั้งหมด {row}, คอลัมทั้งหมด {col}')
df.describe()

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MSISDN             5 non-null      str
 1   RC_RATE            5 non-null      int64
 2   SUBS_STATUS        5 non-null      str
 3   CUST_FULL_NAME     5 non-null      str
 4   PRODUCT_TYPE       5 non-null      str
 5   CONTRACT_START_DT  5 non-null      str
 6   CONTRACT_END_DT    5 non-null      str
dtypes: int64(1), str(6)
memory usage: 412.0 bytes
แถวทั้งหมด 5, คอลัมทั้งหมด 7

           RC_RATE
count     5.000000
mean    689.200000
std     361.600885
min     299.000000
25%     449.000000
50%     599.000000
75%     899.000000
max    1200.000000

In [15]:
date_cols = [
    'CONTRACT_START_DT',
    'CONTRACT_END_DT'
]

df[date_cols] = df[date_cols].apply(pd.to_datetime)

df.info()
df[date_cols]

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MSISDN             5 non-null      str
 1   RC_RATE            5 non-null      int64
 2   SUBS_STATUS        5 non-null      str
 3   CUST_FULL_NAME     5 non-null      str
 4   PRODUCT_TYPE       5 non-null      str
 5   CONTRACT_START_DT  5 non-null      datetime64[us]
 6   CONTRACT_END_DT    5 non-null      datetime64[us]
dtypes: datetime64[us](2), int64(1), str(4)
memory usage: 412.0 bytes

  CONTRACT_START_DT CONTRACT_END_DT
0        2023-01-01      2024-01-01
1        2023-05-15      2024-05-15
2        2022-10-20      2023-10-20
3        2024-01-10      2025-01-10
4        2023-12-01      2024-12-01