## üî¢ ‡∏ö‡∏ó‡∏ó‡∏µ‡πà 2: ‡∏Å‡∏≤‡∏£‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Calculation)
---

‡πÉ‡∏ô‡∏á‡∏≤‡∏ô ISP ‡∏Å‡∏≤‡∏£‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏ó‡∏µ‡πà‡∏õ‡πã‡∏≤‡∏à‡∏∞‡πÑ‡∏î‡πâ‡πÉ‡∏ä‡πâ‡∏ö‡πà‡∏≠‡∏¢‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î‡∏Ñ‡∏∑‡∏≠‡∏Å‡∏≤‡∏£‡∏´‡∏≤ **"‡∏™‡πà‡∏ß‡∏ô‡∏ï‡πà‡∏≤‡∏á"** ‡πÑ‡∏°‡πà‡∏ß‡πà‡∏≤‡∏à‡∏∞‡πÄ‡∏õ‡πá‡∏ô‡∏™‡πà‡∏ß‡∏ô‡∏ï‡πà‡∏≤‡∏á‡∏Ç‡∏≠‡∏á‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏´‡∏£‡∏∑‡∏≠‡∏™‡πà‡∏ß‡∏ô‡∏ï‡πà‡∏≤‡∏á‡∏Ç‡∏≠‡∏á‡πÄ‡∏ß‡∏•‡∏≤ (‡∏≠‡∏≤‡∏¢‡∏∏‡∏™‡∏±‡∏ç‡∏ç‡∏≤)

| ‡∏Ñ‡∏≥‡∏®‡∏±‡∏û‡∏ó‡πå (Technical Term) | ‡∏Ñ‡∏≥‡∏≠‡πà‡∏≤‡∏ô‡πÑ‡∏ó‡∏¢ (Pronunciation) | ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢ (Translation/Definition) |
| :--- | :--- | :--- |
| **Timedelta** | ‡πÑ‡∏ó‡∏°‡πå-‡πÄ‡∏î‡∏•‡∏ï‡πâ‡∏≤ | **‡∏ú‡∏•‡∏ï‡πà‡∏≤‡∏á‡∏Ç‡∏≠‡∏á‡πÄ‡∏ß‡∏•‡∏≤** (‡πÄ‡∏õ‡πá‡∏ô‡∏´‡∏ô‡πà‡∏ß‡∏¢ ‡∏ß‡∏±‡∏ô, ‡∏ä‡∏±‡πà‡∏ß‡πÇ‡∏°‡∏á, ‡∏ô‡∏≤‡∏ó‡∏µ) |
| **New Column** | ‡∏ô‡∏¥‡∏ß ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå | ‡∏Å‡∏≤‡∏£‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏´‡∏±‡∏ß‡∏Ç‡πâ‡∏≠‡πÉ‡∏´‡∏°‡πà‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÄ‡∏Å‡πá‡∏ö‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡πÑ‡∏î‡πâ |
| **Arithmetic** | ‡∏≠‡∏∞-‡∏£‡∏¥‡∏ò-‡πÄ‡∏°-‡∏ï‡∏¥‡∏Å | ‡∏Å‡∏≤‡∏£‡∏ö‡∏ß‡∏Å ‡∏•‡∏ö ‡∏Ñ‡∏π‡∏ì ‡∏´‡∏≤‡∏£ ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á |

> **‡∏™‡∏π‡∏ï‡∏£‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡∏°‡πà:** `df['‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡∏°‡πà'] = ‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì`

In [8]:
# setup
import pandas as pd
from datetime import datetime

exec_file = pd.ExcelFile('mock_isp_data.xlsx')
sheets_names = exec_file.sheet_names
df = exec_file.parse(sheets_names[0], dtype={'MSISDN': str})
date_cols = ['CONTRACT_START_DT', 'CONTRACT_END_DT']
df[date_cols] = df[date_cols].apply(pd.to_datetime)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MSISDN             5 non-null      object
 1   RC_RATE            5 non-null      int64
 2   SUBS_STATUS        5 non-null      object
 3   CUST_FULL_NAME     5 non-null      object
 4   PRODUCT_TYPE       5 non-null      object
 5   CONTRACT_START_DT  5 non-null      datetime64[ns]
 6   CONTRACT_END_DT    5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 412.0+ bytes

,MSISDN,RC_RATE,SUBS_STATUS,CUST_FULL_NAME,PRODUCT_TYPE,CONTRACT_START_DT,CONTRACT_END_DT
0,0960673105,599,Active,ABC Corp,FTTH,2023-01-01,2024-01-01
1,0912345678,899,Active,"XYZ Co.,Ltd",Mobile,2023-05-15,2024-05-15
2,0812345678,1200,Suspended,Pah Nattapong Service,Mobile,2022-10-20,2023-10-20
3,0612345678,449,Active,JukThong Tech,DATA SERVICE,2024-01-10,2025-01-10
4,0998887776,299,Terminated,Sample Client,FTTH,2023-12-01,2024-12-01

In [13]:
# 1. ‡∏Å‡∏≥‡∏´‡∏ô‡∏î "‡∏ß‡∏±‡∏ô‡∏ô‡∏µ‡πâ"
today = pd.Timestamp(datetime.now().date())

# 2. ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏´‡∏≤‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠ (Contract Duration)
# ‡πÄ‡∏£‡∏≤‡∏•‡∏ö‡∏Å‡∏±‡∏ô‡∏ï‡∏£‡∏á‡πÜ ‡πÅ‡∏•‡πâ‡∏ß‡∏î‡∏∂‡∏á .days ‡∏≠‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÄ‡∏≠‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡∏ß‡∏±‡∏ô
df['REMAIN_DAYS'] = (df['CONTRACT_END_DT'] - today).dt.days

# 3. ‡∏•‡∏≠‡∏á‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì "‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏™‡∏±‡∏ç‡∏ç‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠" (‡πÅ‡∏ö‡∏ö‡∏á‡πà‡∏≤‡∏¢‡πÜ)
# ‡∏™‡∏°‡∏°‡∏ï‡∏¥: ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠ x (‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ï‡πà‡∏≠‡πÄ‡∏î‡∏∑‡∏≠‡∏ô / 30 ‡∏ß‡∏±‡∏ô)
df['REMAIN_VALUE'] = df['REMAIN_DAYS'] * (df['RC_RATE'] / 30)

# 4. ‡πÇ‡∏ä‡∏ß‡πå‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡πÅ‡∏ö‡∏ö‡∏õ‡πã‡∏≤‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç
df[['CUST_FULL_NAME', 'REMAIN_DAYS', 'REMAIN_VALUE']].head()

          CUST_FULL_NAME  REMAIN_DAYS  REMAIN_VALUE
0               ABC Corp         -773 -15434.233333
1            XYZ Co.,Ltd         -638 -19118.733333
2  Pah Nattapong Service         -846 -33840.000000
3          JukThong Tech         -398  -5956.733333
4          Sample Client         -438  -4365.400000

### ‚ö†Ô∏è ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Ñ‡πà‡∏≤‡∏ï‡∏¥‡∏î‡∏•‡∏ö (Expired Contracts)
‡∏ñ‡πâ‡∏≤‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏≠‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏õ‡πá‡∏ô **‡∏ï‡∏¥‡∏î‡∏•‡∏ö (Negative)** ‡πÅ‡∏™‡∏î‡∏á‡∏ß‡πà‡∏≤‡∏™‡∏±‡∏ç‡∏ç‡∏≤‡∏ô‡∏±‡πâ‡∏ô **"‡∏´‡∏°‡∏î‡∏≠‡∏≤‡∏¢‡∏∏‡πÅ‡∏•‡πâ‡∏ß"** ‡∏Ñ‡∏£‡∏±‡∏ö

* ‡∏ñ‡πâ‡∏≤‡πÄ‡∏õ‡πá‡∏ô `+`: ‡∏Ñ‡∏∑‡∏≠‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠
* ‡∏ñ‡πâ‡∏≤‡πÄ‡∏õ‡πá‡∏ô `-`: ‡∏Ñ‡∏∑‡∏≠‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏Å‡∏¥‡∏ô‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏°‡∏≤‡πÅ‡∏•‡πâ‡∏ß

> **‡∏ó‡∏£‡∏¥‡∏Ñ‡∏Ç‡∏≠‡∏á‡∏à‡∏∏‡∏Å‡∏ó‡∏≠‡∏á:** ‡∏õ‡πã‡∏≤‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÉ‡∏ä‡πâ‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á (Filtering) ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡πÑ‡∏õ‡∏ö‡∏ó‡∏Å‡πà‡∏≠‡∏ô ‡∏°‡∏≤‡∏´‡∏≤‡∏ß‡πà‡∏≤‡πÉ‡∏Ñ‡∏£‡∏ö‡πâ‡∏≤‡∏á‡∏ó‡∏µ‡πà‡∏™‡∏±‡∏ç‡∏ç‡∏≤‡∏ï‡∏¥‡∏î‡∏•‡∏ö ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏™‡πà‡∏á‡∏ó‡∏µ‡∏° Sales ‡πÑ‡∏õ‡∏Ñ‡∏∏‡∏¢‡πÑ‡∏î‡πâ‡∏ó‡∏±‡∏ô‡∏ó‡∏µ‡∏Ñ‡∏£‡∏±‡∏ö!

In [22]:
expired_list = df[df['REMAIN_DAYS'] < 0]

print(f'‡∏°‡∏µ‡∏ç‡∏ç‡∏≤‡∏ó‡∏µ‡πà‡∏´‡∏•‡∏î‡∏≠‡∏≤‡∏¢‡∏∏‡πÅ‡∏•‡πâ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {len(expired_list)} ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£')
display(expired_list[['CUST_FULL_NAME', 'MSISDN', 'REMAIN_DAYS']])

‡∏°‡∏µ‡∏ç‡∏ç‡∏≤‡∏ó‡∏µ‡πà‡∏´‡∏•‡∏î‡∏≠‡∏≤‡∏¢‡∏∏‡πÅ‡∏•‡πâ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 5 ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£

          CUST_FULL_NAME      MSISDN  REMAIN_DAYS
0               ABC Corp  0960673105         -773
1            XYZ Co.,Ltd  0912345678         -638
2  Pah Nattapong Service  0812345678         -846
3          JukThong Tech  0612345678         -398
4          Sample Client  0998887776         -438

### üö¶ ‡∏Å‡∏≤‡∏£‡πÅ‡∏ö‡πà‡∏á‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡∏ï‡∏≤‡∏°‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì
‡πÄ‡∏°‡∏∑‡πà‡∏≠‡∏õ‡πã‡∏≤‡πÑ‡∏î‡πâ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå `REMAIN_DAYS` ‡∏°‡∏≤‡πÅ‡∏•‡πâ‡∏ß ‡∏õ‡πã‡∏≤‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÅ‡∏ö‡πà‡∏á‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡πÑ‡∏î‡πâ‡∏ó‡∏±‡∏ô‡∏ó‡∏µ ‡πÄ‡∏ä‡πà‡∏ô:
* `REMAIN_DAYS < 0` : **Expired** (‡∏´‡∏°‡∏î‡∏≠‡∏≤‡∏¢‡∏∏‡πÅ‡∏•‡πâ‡∏ß)
* `0 <= REMAIN_DAYS <= 30` : **Warning** (‡∏Å‡∏≥‡∏•‡∏±‡∏á‡∏à‡∏∞‡∏´‡∏°‡∏î‡πÉ‡∏ô 1 ‡πÄ‡∏î‡∏∑‡∏≠‡∏ô)
* `REMAIN_DAYS > 30` : **Normal** (‡∏õ‡∏Å‡∏ï‡∏¥)

‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡πÉ‡∏ä‡πâ‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏ß‡πà‡∏≤ **"Boolean Masking"** (‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á‡∏î‡πâ‡∏ß‡∏¢‡πÄ‡∏á‡∏∑‡πà‡∏≠‡∏ô‡πÑ‡∏Ç) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÅ‡∏¢‡∏Å‡∏Ñ‡∏ô‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏ô‡∏µ‡πâ‡∏≠‡∏≠‡∏Å‡∏°‡∏≤‡∏Ñ‡∏£‡∏±‡∏ö

In [16]:
warning_list = df[(df['REMAIN_DAYS'] >= 0) & (df['REMAIN_DAYS'] <= 30)]

print(f'‡∏™‡∏≤‡∏Ç‡∏≤‡∏ó‡∏µ‡πà‡πÑ‡∏Å‡∏•‡πâ‡∏´‡∏°‡∏î‡∏™‡∏±‡∏ç‡∏ç‡∏≤‡πÅ‡∏•‡πâ‡∏ß {len(warning_list)} ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£')
warning_list[['CUST_FULL_NAME', 'MSISDN', 'REMAIN_DAYS']]

‡∏™‡∏≤‡∏Ç‡∏≤‡∏ó‡∏µ‡πà‡πÑ‡∏Å‡∏•‡πâ‡∏´‡∏°‡∏î‡∏™‡∏±‡∏ç‡∏ç‡∏≤‡πÅ‡∏•‡πâ‡∏ß 0 ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£

Empty DataFrame
Columns: [CUST_FULL_NAME, MSISDN, REMAIN_DAYS]
Index: []