üìå SECTION 1 ‚Äî Import + Load

Cell 1 ‚Äî Import

In [2]:
import pandas as pd

Cell 2 ‚Äî Load Excel with 12 Sheets Name

In [4]:
file_path = '../datasets/Support_Report_2025.xlsx'
all_sheets = pd.read_excel(file_path, sheet_name=None)
all_sheets.keys()

dict_keys(['2025-01', '2025-02', '2025-03', '2025-04', '2025-05', '2025-06', '2025-07', '2025-08', '2025-09', '2025-10', '2025-11', '2025-12'])

SECTION 2 ‚Äî Combine All Months

Cell 3 ‚Äî ‡∏£‡∏ß‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏õ‡∏µ

In [9]:
df = pd.concat(all_sheets.values(), ignore_index=True)
df.head()

,‡∏õ‡∏±‡∏ç‡∏´‡∏≤‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö,‡∏ú‡∏π‡πâ‡πÅ‡∏à‡πâ‡∏á‡∏õ‡∏±‡∏ç‡∏´‡∏≤,‡∏ß‡∏¥‡∏ò‡∏µ‡∏Å‡∏≤‡∏£‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç,Asset tag,‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô OA,‰ºòÂÖà‰∫ãÈ°π,Start Êó•Êúü,End Êó•Êúü,JOB,Location,Dept,Status Áä∂ÊÄÅ,‡∏ú‡∏π‡πâ‡∏î‡∏π‡πÅ‡∏•,year_month
0,‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏°‡∏µ‡∏õ‡∏±‡∏ç‡∏´‡∏≤,‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡πÉ‡∏´‡∏°‡πà,‡∏ï‡∏¥‡∏î‡∏ï‡∏±‡πâ‡∏á‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à,JTTH/CO/98437,‡πÑ‡∏°‡πà‡∏°‡∏µ,‡∏î‡πà‡∏ß‡∏ô,2025-01-06 12:48:00,2025-01-06 20:48,Computer,HQ,HQ,Failed,@jirapat,2025-01
1,‡∏•‡∏ö‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏° wps,CS Team,‡∏•‡∏ö‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢,JTTH/CO/97254,‡πÑ‡∏°‡πà‡∏°‡∏µ,‡∏î‡πà‡∏ß‡∏ô,2025-01-15 09:37:00,2025-01-15 17:37,CCTV,FN,CS,Pending,@wuttichai,2025-01
2,‡∏™‡∏£‡πâ‡∏≤‡∏á printer code ‡πÉ‡∏´‡πâ‡∏ó‡∏µ‡∏°,‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡πÉ‡∏´‡∏°‡πà,‡∏ï‡∏¥‡∏î‡∏ï‡∏±‡πâ‡∏á‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à,JTTH/CO/93182,‡πÑ‡∏°‡πà‡∏°‡∏µ,‡∏õ‡∏Å‡∏ï‡∏¥,2025-01-13 15:18:00,2025-01-13 22:18,Software,CS,MKT,Pending,@suphansa,2025-01
3,‡πÅ‡∏Å‡πâ network ‡∏ä‡πâ‡∏≤,‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡πÉ‡∏´‡∏°‡πà,‡πÅ‡∏Å‡πâ network ‡πÅ‡∏•‡πâ‡∏ß,JTTH/CO/90502,‡∏°‡∏µ,‡∏î‡πà‡∏ß‡∏ô,2025-01-09 17:53:00,2025-01-10 01:53,Software,HQ,Other,Failed,@suphansa,2025-01
4,set com ‡πÉ‡∏´‡πâ‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡πÉ‡∏´‡∏°‡πà,‡∏ù‡πà‡∏≤‡∏¢‡∏ö‡∏±‡∏ç‡∏ä‡∏µ,reset account ‡πÅ‡∏•‡πâ‡∏ß,JTTH/CO/92374,‡∏°‡∏µ,‡∏õ‡∏Å‡∏ï‡∏¥,2025-01-19 15:11:00,2025-01-19 19:11,Software,HQ,FN,Success,@phitchaya,2025-01

SECTION 3 ‚Äî Prepare Date Columns

‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡πÉ‡∏ä‡πâ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ó‡∏≥‡∏£‡∏≤‡∏¢‡∏ß‡∏±‡∏ô/‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô/‡∏£‡∏≤‡∏¢‡∏õ‡∏µ

Cell 4 ‚Äî ‡πÅ‡∏õ‡∏•‡∏á‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô datetime

In [6]:
df["Start Êó•Êúü"] = pd.to_datetime(df["Start Êó•Êúü"])

Cell 5 ‚Äî ‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå year, month, year-month

In [8]:
df["year"] = df["Start Êó•Êúü"].dt.year
df["month"] = df["Start Êó•Êúü"].dt.month
df["year_month"] = df["Start Êó•Êúü"].dt.strftime("%Y-%m")

üìå SECTION 4 ‚Äî ‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ê‡∏≤‡∏ô

Cell 6 ‚Äî ‡∏™‡∏£‡∏∏‡∏õ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏á‡∏≤‡∏ô‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô

In [7]:
monthly_count = df.groupby("year_month").size()
monthly_count

year_month
2025-01    150
2025-02    135
2025-03    126
2025-04    133
2025-05    133
2025-06    126
2025-07    144
2025-08    135
2025-09    139
2025-10    138
2025-11    142
2025-12    134
dtype: int64

Cell 7 ‚Äî ‡∏™‡∏£‡∏∏‡∏õ‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏á‡∏≤‡∏ô (JOB) ‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô

In [11]:
job_monthly = df.groupby(['year_month', 'JOB']).size()
job_monthly

year_month  JOB
2025-01     Access      25
            CCTV        25
            Computer    22
            Network     20
            Printer     27
                        ..
2025-12     CCTV        23
            Computer    20
            Network     19
            Printer     17
            Software    23
Length: 72, dtype: int64

Cell 8 ‚Äî ‡∏™‡∏£‡∏∏‡∏õ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏á‡∏≤‡∏ô‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞

In [12]:
status_count = df.groupby('Status Áä∂ÊÄÅ').size()
status_count

Status Áä∂ÊÄÅ
Failed     537
Pending    571
Success    527
dtype: int64

Cell 9 ‚Äî ‡∏™‡∏£‡∏∏‡∏õ‡∏á‡∏≤‡∏ô‡∏ï‡∏≤‡∏°‡πÅ‡∏ú‡∏ô‡∏Å (Dept)

In [13]:
dept_count = df.groupby('Dept').size()
dept_count

Dept
CS       336
FN       332
HQ       299
MKT      363
Other    305
dtype: int64

üìå SECTION 5 ‚Äî ‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡πÅ‡∏ö‡∏ö Pivot (‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô Excel ‡πÅ‡∏ï‡πà‡πÄ‡∏ó‡∏û‡∏Å‡∏ß‡πà‡∏≤)

Cell 10 ‚Äî Pivot: ‡πÄ‡∏î‡∏∑‡∏≠‡∏ô √ó JOB

In [14]:
pivot_job = pd.pivot_table(
    df,
    index='year_month',
    columns='JOB',
    values='‡∏õ‡∏±‡∏ç‡∏´‡∏≤‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö',
    aggfunc='count',
    fill_value=0
)
pivot_job

JOB         Access  CCTV  Computer  Network  Printer  Software
year_month
2025-01         25    25        22       20       27        31
2025-02         18    24        24       29       17        23
2025-03         21    18        16       23       22        26
2025-04         14    23        22       23       23        28
2025-05         18    19        23       25       20        28
2025-06         19    21        23       20       21        22
2025-07         28    24        22       24       25        21
2025-08         22    20        28       21       18        26
2025-09         23    26        24       24       21        21
2025-10         21    28        28       16       22        23
2025-11         24    31        19       29       23        16
2025-12         32    23        20       19       17        23

Cell 11 ‚Äî Pivot: ‡πÄ‡∏î‡∏∑‡∏≠‡∏ô √ó Status

In [15]:
pivot_status = pd.pivot_table(
    df,
    index='year_month',
    columns='Status Áä∂ÊÄÅ',
    values='‡∏õ‡∏±‡∏ç‡∏´‡∏≤‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö',
    aggfunc='count',
    fill_value=00
)
pivot_status

Status Áä∂ÊÄÅ   Failed  Pending  Success
year_month
2025-01         57       49       44
2025-02         42       51       42
2025-03         43       39       44
2025-04         42       45       46
2025-05         46       40       47
2025-06         41       46       39
2025-07         44       53       47
2025-08         45       43       47
2025-09         41       53       45
2025-10         48       48       42
2025-11         53       47       42
2025-12         35       57       42

üìå SECTION 6 ‚Äî Export ‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏õ‡πá‡∏ô Excel ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏´‡∏•‡∏≤‡∏¢‡∏ä‡∏µ‡∏ï

Cell 12 ‚Äî Export

In [17]:
with pd.ExcelWriter('Summary_2025.xlsx') as writer:
    monthly_count.to_excel(writer, sheet_name='Monthly_Count')
    status_count.to_excel(writer, sheet_name='Status_Count')
    dept_count.to_excel(writer, sheet_name='Dept_Count')
    pivot_job.to_excel(writer, sheet_name='Pivot_Job')
    pivot_status.to_excel(writer, sheet_name='Pivot_Status')

'‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÑ‡∏ü‡∏•‡πå Summary_2025.xlsx ‡πÅ‡∏•‡πâ‡∏ß'

'‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÑ‡∏ü‡∏•‡πå Summary_2025.xlsx ‡πÅ‡∏•‡πâ‡∏ß'