## üõí ‡∏£‡∏∞‡∏ö‡∏ö‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ ISP (Inventory & Logistics)
---

‡πÉ‡∏ô‡∏ö‡∏ó‡∏ô‡∏µ‡πâ‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡∏à‡∏≥‡∏•‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏°‡∏µ 3 ‡∏™‡πà‡∏ß‡∏ô‡∏´‡∏•‡∏±‡∏Å (3 Sheets) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏õ‡πã‡∏≤‡∏ù‡∏∂‡∏Å‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏ã‡∏±‡∏ö‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô:
1. **Orders (‡πÉ‡∏ö‡∏™‡∏±‡πà‡∏á‡∏ã‡∏∑‡πâ‡∏≠):** ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡∏™‡∏±‡πà‡∏á‡∏≠‡∏∏‡∏õ‡∏Å‡∏£‡∏ì‡πå (‡πÄ‡∏ä‡πà‡∏ô Router, Mesh WiFi)
2. **Deliveries (‡∏Å‡∏≤‡∏£‡∏™‡πà‡∏á‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤):** ‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á
3. **Claims (‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏•‡∏°):** ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏õ‡∏±‡∏ç‡∏´‡∏≤‡πÅ‡∏•‡∏∞‡∏™‡πà‡∏á‡∏Ñ‡∏∑‡∏ô

| ‡∏Ñ‡∏≥‡∏®‡∏±‡∏û‡∏ó‡πå (Technical Term) | ‡∏Ñ‡∏≥‡∏≠‡πà‡∏≤‡∏ô‡πÑ‡∏ó‡∏¢ (Pronunciation) | ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢ (Translation/Definition) |
| :--- | :--- | :--- |
| **Relational Data** | ‡∏£‡∏¥-‡πÄ‡∏•-‡∏ä‡∏±‡∏ô-‡∏ô‡∏≠‡∏• ‡∏î‡∏≤‡∏ï‡πâ‡∏≤ | **‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡πå‡∏Å‡∏±‡∏ô** (‡πÄ‡∏ä‡πà‡∏ô ‡πÉ‡∏ö‡πÄ‡∏Ñ‡∏•‡∏°‡∏ï‡πâ‡∏≠‡∏á‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á‡∏ñ‡∏∂‡∏á‡πÉ‡∏ö‡∏™‡∏±‡πà‡∏á‡∏ã‡∏∑‡πâ‡∏≠) |
| **Transaction ID** | ‡πÅ‡∏ó‡∏£‡∏ô-‡πÅ‡∏ã‡∏Å-‡∏ä‡∏±‡∏ô ‡πÑ‡∏≠-‡∏î‡∏µ | **‡∏£‡∏´‡∏±‡∏™‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£** (‡πÉ‡∏ä‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏£‡∏∞‡∏ö‡∏∏‡∏´‡∏•‡∏±‡∏Å‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡πÅ‡∏ñ‡∏ß) |
| **Logistics Status** | ‡πÇ‡∏•-‡∏à‡∏¥‡∏™-‡∏ï‡∏¥‡∏Å‡∏™‡πå ‡∏™‡πÄ‡∏ï-‡∏ï‡∏±‡∏™ | ‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞‡∏Å‡∏≤‡∏£‡∏Ç‡∏ô‡∏™‡πà‡∏á (‡πÄ‡∏ä‡πà‡∏ô Pending, Shipped, Delivered) |
| **Cross-Reference** | ‡∏Ñ‡∏£‡∏≠‡∏™-‡πÄ‡∏£‡∏ü-‡πÄ‡∏ü‡∏≠-‡πÄ‡∏£‡∏ô‡∏ã‡πå | ‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡πâ‡∏≤‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á |

### üîç ‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡πã‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô (Review)
* ‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ `pd.ExcelFile` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏≠‡πà‡∏≤‡∏ô‡∏´‡∏•‡∏≤‡∏¢ Sheet ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡πÄ‡∏î‡∏µ‡∏¢‡∏ß
* ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á (`NaN`) ‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á Claims ‡πÅ‡∏•‡∏∞ Deliveries

üíª ‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà 2: ‡πÇ‡∏Ñ‡πâ‡∏î‡∏™‡∏£‡πâ‡∏≤‡∏á Mock Data "‡∏£‡∏∞‡∏ö‡∏ö‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤" (Code Cell)
‡∏õ‡πã‡∏≤‡∏£‡∏±‡∏ô‡πÇ‡∏Ñ‡πâ‡∏î‡∏ô‡∏µ‡πâ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÑ‡∏ü‡∏•‡πå isp_supply_chain.xlsx ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÅ‡∏™‡∏ô‡πÅ‡∏ñ‡∏ß (‡∏à‡∏≥‡∏•‡∏≠‡∏á) ‡πÅ‡∏•‡∏∞‡∏´‡∏•‡∏≤‡∏¢‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏Ñ‡∏£‡∏±‡∏ö

In [1]:
import pandas as pd
import numpy as np

# 1. ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á Orders (‡πÉ‡∏ö‡∏™‡∏±‡πà‡∏á‡∏ã‡∏∑‡πâ‡∏≠)
orders_data = {
    'ORDER_ID': [f'ORD{i:05d}' for i in range(1, 11)],
    'MSISDN': ['0960000001', '0960000002', '0960000003', '0960000004', '0960000005', 
               '0960000006', '0960000007', '0960000008', '0960000009', '0960000010'],
    'PRODUCT': ['Router WiFi 6', 'Mesh Node', 'Fiber Modem', 'CCTV Cloud', 'Router WiFi 6',
                'Mesh Node', 'Router WiFi 6', 'Fiber Modem', 'CCTV Cloud', 'Mesh Node'],
    'PRICE': [2900, 1500, 0, 990, 2900, 1500, 2900, 0, 990, 1500],
    'ORDER_DATE': pd.date_range(start='2026-01-01', periods=10, freq='D')
}
df_orders = pd.DataFrame(orders_data)

# 2. ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á Deliveries (‡∏Å‡∏≤‡∏£‡∏™‡πà‡∏á‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ - ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏ö‡∏≤‡∏á‡∏à‡∏∏‡∏î)
deliveries_data = {
    'DELIVERY_ID': [f'DLV{i:05d}' for i in range(1, 11)],
    'ORDER_ID': [f'ORD{i:05d}' for i in range(1, 11)],
    'CARRIER': ['Kerry', 'Flash', 'J&T', 'Kerry', 'Flash', np.nan, 'J&T', 'Kerry', np.nan, 'Flash'],
    'STATUS': ['Delivered', 'Delivered', 'Shipped', 'Delivered', 'Pending', 'Cancelled', 'Delivered', 'Shipped', 'Pending', 'Delivered'],
    'DELIVERY_DATE': ['2026-01-05', '2026-01-06', np.nan, '2026-01-08', np.nan, np.nan, '2026-01-10', np.nan, np.nan, '2026-01-12']
}
df_deliveries = pd.DataFrame(deliveries_data)

# 3. ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á Claims (‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏•‡∏° - ‡∏°‡∏µ‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏ö‡∏≤‡∏á‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£)
claims_data = {
    'CLAIM_ID': ['CLM001', 'CLM002'],
    'ORDER_ID': ['ORD00001', 'ORD00007'], # ‡πÄ‡∏Ñ‡∏•‡∏°‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏≠‡∏≠‡πÄ‡∏î‡∏≠‡∏£‡πå 1 ‡πÅ‡∏•‡∏∞ 7
    'REASON': ['Power not on', 'Broken Box'],
    'CLAIM_STATUS': ['Approved', 'Pending']
}
df_claims = pd.DataFrame(claims_data)

# ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÄ‡∏õ‡πá‡∏ô‡πÑ‡∏ü‡∏•‡πå‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡πÅ‡∏ï‡πà‡∏°‡∏µ 3 Sheets
with pd.ExcelWriter('../Lesson_3/isp_supply_chain.xlsx') as writer:
    df_orders.to_excel(writer, sheet_name='Orders', index=False)
    df_deliveries.to_excel(writer, sheet_name='Deliveries', index=False)
    df_claims.to_excel(writer, sheet_name='Claims', index=False)

print("‡∏õ‡πã‡∏≤‡∏Ñ‡∏£‡∏±‡∏ö! ‡πÑ‡∏ü‡∏•‡πå‡∏£‡∏∞‡∏ö‡∏ö Supply Chain (3 Sheets) ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÉ‡∏´‡πâ‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏£‡∏±‡∏ö")

‡∏õ‡πã‡∏≤‡∏Ñ‡∏£‡∏±‡∏ö! ‡πÑ‡∏ü‡∏•‡πå‡∏£‡∏∞‡∏ö‡∏ö Supply Chain (3 Sheets) ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÉ‡∏´‡πâ‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏£‡∏±‡∏ö

üíª ‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà 3: ‡∏ö‡∏ó‡∏ó‡∏î‡∏™‡∏≠‡∏ö‡∏Å‡∏≤‡∏£‡∏≠‡πà‡∏≤‡∏ô‡πÅ‡∏•‡∏∞‡πÄ‡∏ä‡πá‡∏Å‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Code Cell)
‡∏õ‡πã‡∏≤‡∏•‡∏≠‡∏á‡πÉ‡∏ä‡πâ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏£‡∏π‡πâ‡∏à‡∏≤‡∏Å ‡∏ö‡∏ó‡∏ó‡∏µ‡πà 1 ‡πÅ‡∏•‡∏∞ ‡∏ö‡∏ó‡∏ó‡∏µ‡πà 4 ‡∏°‡∏≤‡∏õ‡∏£‡∏∞‡∏¢‡∏∏‡∏Å‡∏ï‡πå‡πÉ‡∏ä‡πâ‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ä‡∏∏‡∏î‡πÉ‡∏´‡∏°‡πà‡∏ô‡∏µ‡πâ‡∏Ñ‡∏£‡∏±‡∏ö

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

# 1. ‡πÉ‡∏ä‡πâ ExcelFile ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÄ‡∏õ‡∏¥‡∏î‡πÑ‡∏ü‡∏•‡πå (‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô‡∏ö‡∏ó‡∏ó‡∏µ‡πà 1)
xls = pd.ExcelFile('isp_supply_chain.xlsx')

# 2. ‡∏≠‡πà‡∏≤‡∏ô‡∏ó‡∏±‡πâ‡∏á 3 ‡∏ä‡∏µ‡∏ó‡∏≠‡∏≠‡∏Å‡∏°‡∏≤
orders = xls.parse('Orders')
deliveries = xls.parse('Deliveries')
claims = xls.parse('Claims')

# 3. ‡πÄ‡∏ä‡πá‡∏Å‡∏ß‡πà‡∏≤‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á Deliveries ‡∏°‡∏µ '‡∏£‡∏π‡∏£‡∏±‡πà‡∏ß' (‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á) ‡∏ï‡∏£‡∏á‡πÑ‡∏´‡∏ô‡∏ö‡πâ‡∏≤‡∏á (‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô‡∏ö‡∏ó‡∏ó‡∏µ‡πà 4)
print("‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏™‡πà‡∏á:")
print(deliveries.isna().sum())

# 4. ‡∏•‡∏≠‡∏á‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏≠‡∏≠‡πÄ‡∏î‡∏≠‡∏£‡πå‡πÑ‡∏´‡∏ô‡∏ö‡πâ‡∏≤‡∏á‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏•‡∏° (‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô‡∏Å‡∏≤‡∏£‡∏°‡∏≠‡∏á‡∏´‡∏≤‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡πå)
display(claims.head())

‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏™‡πà‡∏á:
DELIVERY_ID      0
ORDER_ID         0
CARRIER          2
STATUS           0
DELIVERY_DATE    5
dtype: int64

  CLAIM_ID  ORDER_ID        REASON CLAIM_STATUS
0   CLM001  ORD00001  Power not on     Approved
1   CLM002  ORD00007    Broken Box      Pending

In [3]:
print('orders info')
print(orders.info())
display(orders)
orders['PRICE'] = orders['PRICE'].apply(float)
orders['ORDER_DATE'] = orders['ORDER_DATE'].apply(pd.to_datetime)

orders info
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ORDER_ID    10 non-null     str
 1   MSISDN      10 non-null     int64
 2   PRODUCT     10 non-null     str
 3   PRICE       10 non-null     int64
 4   ORDER_DATE  10 non-null     datetime64[us]
dtypes: datetime64[us](1), int64(2), str(2)
memory usage: 532.0 bytes
None

   ORDER_ID     MSISDN        PRODUCT  PRICE ORDER_DATE
0  ORD00001  960000001  Router WiFi 6   2900 2026-01-01
1  ORD00002  960000002      Mesh Node   1500 2026-01-02
2  ORD00003  960000003    Fiber Modem      0 2026-01-03
3  ORD00004  960000004     CCTV Cloud    990 2026-01-04
4  ORD00005  960000005  Router WiFi 6   2900 2026-01-05
5  ORD00006  960000006      Mesh Node   1500 2026-01-06
6  ORD00007  960000007  Router WiFi 6   2900 2026-01-07
7  ORD00008  960000008    Fiber Modem      0 2026-01-08
8  ORD00009  960000009     CCTV Cloud    990 2026-01-09
9  ORD00010  960000010      Mesh Node   1500 2026-01-10

In [4]:
print('deliverry info')
print(deliveries.info())
deliveries['DELIVERY_DATE'] = pd.to_datetime(deliveries['DELIVERY_DATE'])
deliveries['CARRIER'] = deliveries['CARRIER'].fillna('Unknown Customer')
display(deliveries)

deliverry info
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DELIVERY_ID    10 non-null     str
 1   ORDER_ID       10 non-null     str
 2   CARRIER        8 non-null      str
 3   STATUS         10 non-null     str
 4   DELIVERY_DATE  5 non-null      str
dtypes: str(5)
memory usage: 532.0 bytes
None

  DELIVERY_ID  ORDER_ID           CARRIER     STATUS DELIVERY_DATE
0    DLV00001  ORD00001             Kerry  Delivered    2026-01-05
1    DLV00002  ORD00002             Flash  Delivered    2026-01-06
2    DLV00003  ORD00003               J&T    Shipped           NaT
3    DLV00004  ORD00004             Kerry  Delivered    2026-01-08
4    DLV00005  ORD00005             Flash    Pending           NaT
5    DLV00006  ORD00006  Unknown Customer  Cancelled           NaT
6    DLV00007  ORD00007               J&T  Delivered    2026-01-10
7    DLV00008  ORD00008             Kerry    Shipped           NaT
8    DLV00009  ORD00009  Unknown Customer    Pending           NaT
9    DLV00010  ORD00010             Flash  Delivered    2026-01-12

# üîó ‡∏ö‡∏ó‡∏ó‡∏µ‡πà 6: ‡∏Å‡∏≤‡∏£‡∏£‡∏ß‡∏°‡∏£‡πà‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Data Merging & Joining)
---

‡πÉ‡∏ô‡∏ö‡∏ó‡∏ô‡∏µ‡πâ ‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡∏ô‡∏≥‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏≤‡∏Å‡∏´‡∏•‡∏≤‡∏¢ ‡πÜ ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏°‡∏≤‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠‡∏Å‡∏±‡∏ô‡πÇ‡∏î‡∏¢‡πÉ‡∏ä‡πâ "‡∏ï‡∏±‡∏ß‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°" ‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô (‡πÄ‡∏ä‡πà‡∏ô `ORDER_ID`) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÄ‡∏´‡πá‡∏ô‡∏†‡∏≤‡∏û‡∏£‡∏ß‡∏°‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà‡∏ï‡πâ‡∏ô‡∏à‡∏ô‡∏à‡∏ö (End-to-End)

| ‡∏Ñ‡∏≥‡∏®‡∏±‡∏û‡∏ó‡πå (Technical Term) | ‡∏Ñ‡∏≥‡∏≠‡πà‡∏≤‡∏ô‡πÑ‡∏ó‡∏¢ (Pronunciation) | ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢ (Translation/Definition) |
| :--- | :--- | :--- |
| **Merge / Join** | ‡πÄ‡∏°‡∏¥‡∏£‡πå‡∏à / ‡∏à‡∏≠‡∏¢ | **‡∏Å‡∏≤‡∏£‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á** ‡∏™‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÄ‡∏Ç‡πâ‡∏≤‡∏î‡πâ‡∏ß‡∏¢‡∏Å‡∏±‡∏ô |
| **Key / On** | ‡∏Ñ‡∏µ‡∏¢‡πå / ‡∏≠‡∏≠‡∏ô | **‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ï‡∏±‡∏ß‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°** (‡∏´‡∏±‡∏ß‡∏Ç‡πâ‡∏≠‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô‡∏ó‡∏±‡πâ‡∏á‡∏™‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á) |
| **Inner Join** | ‡∏≠‡∏¥‡∏ô-‡πÄ‡∏ô‡∏≠‡∏£‡πå ‡∏à‡∏≠‡∏¢ | ‡∏£‡∏ß‡∏°‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏°‡∏µ **‡∏Ñ‡∏π‡πà‡πÅ‡∏°‡∏ï‡∏ä‡πå‡∏Å‡∏±‡∏ô‡∏ó‡∏±‡πâ‡∏á‡∏™‡∏≠‡∏á‡∏ù‡∏±‡πà‡∏á** ‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô |
| **Left Join** | ‡πÄ‡∏•‡∏ü‡∏ï‡πå ‡∏à‡∏≠‡∏¢ | ‡∏¢‡∏∂‡∏î‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ã‡πâ‡∏≤‡∏¢ (‡∏´‡∏•‡∏±‡∏Å) ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏ï‡∏±‡πâ‡∏á **‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ù‡∏±‡πà‡∏á‡∏ã‡πâ‡∏≤‡∏¢‡∏ï‡πâ‡∏≠‡∏á‡∏≠‡∏¢‡∏π‡πà‡∏Ñ‡∏£‡∏ö** ‡πÅ‡∏°‡πâ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡∏π‡πà‡∏ù‡∏±‡πà‡∏á‡∏Ç‡∏ß‡∏≤‡∏Å‡πá‡∏ï‡∏≤‡∏° |
| **Right Join** | ‡πÑ‡∏£‡∏ï‡πå ‡∏à‡∏≠‡∏¢ | ‡∏¢‡∏∂‡∏î‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏Ç‡∏ß‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏ï‡∏±‡πâ‡∏á (‡πÑ‡∏°‡πà‡∏Ñ‡πà‡∏≠‡∏¢‡∏ô‡∏¥‡∏¢‡∏° ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡πÄ‡∏£‡∏≤‡∏°‡∏±‡∏Å‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡∏™‡∏•‡∏±‡∏ö‡∏ù‡∏±‡πà‡∏á‡πÄ‡∏≠‡∏≤‡πÑ‡∏î‡πâ) |

### üîç ‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡πã‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô (Review)
1. ‡∏Å‡∏≤‡∏£‡∏≠‡πà‡∏≤‡∏ô‡∏´‡∏•‡∏≤‡∏¢ Sheets ‡∏î‡πâ‡∏ß‡∏¢ `pd.ExcelFile`
2. ‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ `head()` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÄ‡∏ä‡πá‡∏Å‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏£‡πà‡∏≤‡∏á (‡∏ñ‡πâ‡∏≤‡∏ä‡∏∑‡πà‡∏≠ Key ‡πÑ‡∏°‡πà‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ô‡∏à‡∏∞‡∏£‡∏ß‡∏°‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ!)

In [5]:
display(orders)
display(deliveries)
display(claims)

   ORDER_ID     MSISDN        PRODUCT   PRICE ORDER_DATE
0  ORD00001  960000001  Router WiFi 6  2900.0 2026-01-01
1  ORD00002  960000002      Mesh Node  1500.0 2026-01-02
2  ORD00003  960000003    Fiber Modem     0.0 2026-01-03
3  ORD00004  960000004     CCTV Cloud   990.0 2026-01-04
4  ORD00005  960000005  Router WiFi 6  2900.0 2026-01-05
5  ORD00006  960000006      Mesh Node  1500.0 2026-01-06
6  ORD00007  960000007  Router WiFi 6  2900.0 2026-01-07
7  ORD00008  960000008    Fiber Modem     0.0 2026-01-08
8  ORD00009  960000009     CCTV Cloud   990.0 2026-01-09
9  ORD00010  960000010      Mesh Node  1500.0 2026-01-10

  DELIVERY_ID  ORDER_ID           CARRIER     STATUS DELIVERY_DATE
0    DLV00001  ORD00001             Kerry  Delivered    2026-01-05
1    DLV00002  ORD00002             Flash  Delivered    2026-01-06
2    DLV00003  ORD00003               J&T    Shipped           NaT
3    DLV00004  ORD00004             Kerry  Delivered    2026-01-08
4    DLV00005  ORD00005             Flash    Pending           NaT
5    DLV00006  ORD00006  Unknown Customer  Cancelled           NaT
6    DLV00007  ORD00007               J&T  Delivered    2026-01-10
7    DLV00008  ORD00008             Kerry    Shipped           NaT
8    DLV00009  ORD00009  Unknown Customer    Pending           NaT
9    DLV00010  ORD00010             Flash  Delivered    2026-01-12

  CLAIM_ID  ORDER_ID        REASON CLAIM_STATUS
0   CLM001  ORD00001  Power not on     Approved
1   CLM002  ORD00007    Broken Box      Pending

In [10]:
# 2. ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏£‡∏ß‡∏°‡∏£‡πà‡∏≤‡∏á (Merge) ‡πÅ‡∏ö‡∏ö Left Join
# ‡πÄ‡∏£‡∏≤‡∏≠‡∏¢‡∏≤‡∏Å‡∏£‡∏π‡πâ‡∏ß‡πà‡∏≤ "‡∏≠‡∏≠‡πÄ‡∏î‡∏≠‡∏£‡πå‡∏ó‡∏∏‡∏Å‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤" (‡∏ù‡∏±‡πà‡∏á‡∏ã‡πâ‡∏≤‡∏¢) ‡∏°‡∏µ‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞‡∏™‡πà‡∏á (‡∏ù‡∏±‡πà‡∏á‡∏Ç‡∏ß‡∏≤) ‡πÄ‡∏õ‡πá‡∏ô‡∏¢‡∏±‡∏á‡πÑ‡∏á‡∏ö‡πâ‡∏≤‡∏á
# ‡πÇ‡∏î‡∏¢‡πÉ‡∏ä‡πâ 'ORDER_ID' ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°
df_merged = pd.merge(orders, deliveries, on='ORDER_ID', how='left')


# 2. ‡∏£‡∏ß‡∏°‡∏£‡πà‡∏≤‡∏á‡∏ï‡πà‡∏≠‡∏à‡∏≤‡∏Å df_merged ‡∏ó‡∏µ‡πà‡∏ó‡∏≥‡πÑ‡∏ß‡πâ‡∏ï‡∏∞‡∏Å‡∏µ‡πâ (‡πÄ‡∏õ‡πá‡∏ô 3 ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏£‡∏ß‡∏°‡∏Å‡∏±‡∏ô)
# ‡∏Ñ‡∏£‡∏≤‡∏ß‡∏ô‡∏µ‡πâ‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡πÑ‡∏´‡∏ô '‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏•‡∏°' ‡∏ö‡πâ‡∏≤‡∏á
df_final = pd.merge(df_merged, df_claims, on='ORDER_ID', how='left')

# 3. ‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô‡∏ö‡∏ó‡∏ó‡∏µ‡πà 4: ‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÄ‡∏Ñ‡∏•‡∏°
# ‡∏ñ‡πâ‡∏≤‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏Ñ‡∏•‡∏° ‡πÉ‡∏´‡πâ‡∏Ç‡∏∂‡πâ‡∏ô‡∏ß‡πà‡∏≤ 'No Claim'
df_final['CLAIM_STATUS'] = df_final['CLAIM_STATUS'].fillna('No Claim')

# 4. ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏™‡∏∏‡∏î‡∏ó‡πâ‡∏≤‡∏¢
# ‡∏õ‡πã‡∏≤‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏†‡∏≤‡∏û‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà: ‡πÉ‡∏Ñ‡∏£‡∏™‡∏±‡πà‡∏á‡∏≠‡∏∞‡πÑ‡∏£ -> ‡∏™‡πà‡∏á‡πÇ‡∏î‡∏¢‡πÉ‡∏Ñ‡∏£ -> ‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞‡∏≠‡∏∞‡πÑ‡∏£ -> ‡∏°‡∏µ‡πÄ‡∏Ñ‡∏•‡∏°‡πÑ‡∏´‡∏°
display(df_final[['ORDER_ID', 'PRODUCT', 'STATUS', 'CLAIM_STATUS']])

   ORDER_ID        PRODUCT     STATUS CLAIM_STATUS
0  ORD00001  Router WiFi 6  Delivered     Approved
1  ORD00002      Mesh Node  Delivered     No Claim
2  ORD00003    Fiber Modem    Shipped     No Claim
3  ORD00004     CCTV Cloud  Delivered     No Claim
4  ORD00005  Router WiFi 6    Pending     No Claim
5  ORD00006      Mesh Node  Cancelled     No Claim
6  ORD00007  Router WiFi 6  Delivered      Pending
7  ORD00008    Fiber Modem    Shipped     No Claim
8  ORD00009     CCTV Cloud    Pending     No Claim
9  ORD00010      Mesh Node  Delivered     No Claim

## üßê ‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏´‡∏≤ "‡∏à‡∏∏‡∏î‡∏ö‡∏Å‡∏û‡∏£‡πà‡∏≠‡∏á" ‡∏´‡∏•‡∏±‡∏á Merge
---

‡πÄ‡∏°‡∏∑‡πà‡∏≠‡∏õ‡πã‡∏≤‡∏£‡∏ß‡∏°‡∏£‡πà‡∏≤‡∏á‡πÅ‡∏ö‡∏ö **Left Join** ‡πÅ‡∏•‡πâ‡∏ß ‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡πã‡∏≤‡∏à‡∏∞‡∏û‡∏ö‡∏Ñ‡∏∑‡∏≠‡∏ö‡∏≤‡∏á‡πÅ‡∏ñ‡∏ß‡∏≠‡∏≤‡∏à‡∏à‡∏∞‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô `NaN` ‡πÉ‡∏ô‡∏ù‡∏±‡πà‡∏á‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏™‡πà‡∏á (Deliveries) ‡∏ã‡∏∂‡πà‡∏á‡∏°‡∏±‡∏ô‡∏ö‡∏≠‡∏Å‡∏≠‡∏∞‡πÑ‡∏£‡∏õ‡πã‡∏≤‡πÑ‡∏î‡πâ‡∏´‡∏•‡∏≤‡∏¢‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Ñ‡∏£‡∏±‡∏ö:

| ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏ó‡∏µ‡πà‡πÄ‡∏à‡∏≠ | ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡πÉ‡∏ô‡πÄ‡∏ä‡∏¥‡∏á‡∏£‡∏∞‡∏ö‡∏ö ISP |
| :--- | :--- |
| **‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏£‡∏ö‡∏ó‡∏±‡πâ‡∏á‡∏™‡∏≠‡∏á‡∏ù‡∏±‡πà‡∏á** | ‡∏Å‡∏≤‡∏£‡∏™‡∏±‡πà‡∏á‡∏ã‡∏∑‡πâ‡∏≠‡∏õ‡∏Å‡∏ï‡∏¥ ‡πÅ‡∏•‡∏∞‡πÄ‡∏Ç‡πâ‡∏≤‡∏£‡∏∞‡∏ö‡∏ö‡∏™‡πà‡∏á‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢ |
| **‡∏ù‡∏±‡πà‡∏á Deliveries ‡πÄ‡∏õ‡πá‡∏ô NaN** | ‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡∏™‡∏±‡πà‡∏á‡∏ã‡∏∑‡πâ‡∏≠‡πÅ‡∏•‡πâ‡∏ß ‡πÅ‡∏ï‡πà‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏ô‡∏£‡∏∞‡∏ö‡∏ö‡∏Ç‡∏ô‡∏™‡πà‡∏á (‡∏≠‡∏≤‡∏à‡∏à‡∏∞‡∏´‡∏•‡∏∏‡∏î ‡∏´‡∏£‡∏∑‡∏≠‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡πÅ‡∏û‡πá‡∏Å) |

| ‡∏Ñ‡∏≥‡∏®‡∏±‡∏û‡∏ó‡πå (Technical Term) | ‡∏Ñ‡∏≥‡∏≠‡πà‡∏≤‡∏ô‡πÑ‡∏ó‡∏¢ (Pronunciation) | ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢ (Translation/Definition) |
| :--- | :--- | :--- |
| **Mismatch** | ‡∏°‡∏¥‡∏™-‡πÅ‡∏°‡∏ï‡∏ä‡πå | ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÑ‡∏°‡πà‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ô ‡∏´‡∏£‡∏∑‡∏≠‡∏´‡∏≤‡∏Ñ‡∏π‡πà‡πÑ‡∏°‡πà‡πÄ‡∏à‡∏≠ |
| **Data Integrity** | ‡∏î‡∏≤‡∏ï‡πâ‡∏≤ ‡∏≠‡∏¥‡∏ô-‡πÄ‡∏ó-‡∏Å‡∏£‡∏¥-‡∏ï‡∏µ | ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ñ‡∏π‡∏Å‡∏ï‡πâ‡∏≠‡∏á‡πÅ‡∏•‡∏∞‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• |

In [11]:
# 2. ‡∏£‡∏ß‡∏°‡∏£‡πà‡∏≤‡∏á‡∏ï‡πà‡∏≠‡∏à‡∏≤‡∏Å df_merged ‡∏ó‡∏µ‡πà‡∏ó‡∏≥‡πÑ‡∏ß‡πâ‡∏ï‡∏∞‡∏Å‡∏µ‡πâ (‡πÄ‡∏õ‡πá‡∏ô 3 ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏£‡∏ß‡∏°‡∏Å‡∏±‡∏ô)
# ‡∏Ñ‡∏£‡∏≤‡∏ß‡∏ô‡∏µ‡πâ‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡πÑ‡∏´‡∏ô '‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏•‡∏°' ‡∏ö‡πâ‡∏≤‡∏á
df_final = pd.merge(df_merged, df_claims, on='ORDER_ID', how='left')

# 3. ‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô‡∏ö‡∏ó‡∏ó‡∏µ‡πà 4: ‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÄ‡∏Ñ‡∏•‡∏°
# ‡∏ñ‡πâ‡∏≤‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏Ñ‡∏•‡∏° ‡πÉ‡∏´‡πâ‡∏Ç‡∏∂‡πâ‡∏ô‡∏ß‡πà‡∏≤ 'No Claim'
df_final['CLAIM_STATUS'] = df_final['CLAIM_STATUS'].fillna('No Claim')

# 4. ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏™‡∏∏‡∏î‡∏ó‡πâ‡∏≤‡∏¢
# ‡∏õ‡πã‡∏≤‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏†‡∏≤‡∏û‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà: ‡πÉ‡∏Ñ‡∏£‡∏™‡∏±‡πà‡∏á‡∏≠‡∏∞‡πÑ‡∏£ -> ‡∏™‡πà‡∏á‡πÇ‡∏î‡∏¢‡πÉ‡∏Ñ‡∏£ -> ‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞‡∏≠‡∏∞‡πÑ‡∏£ -> ‡∏°‡∏µ‡πÄ‡∏Ñ‡∏•‡∏°‡πÑ‡∏´‡∏°
display(df_final[['ORDER_ID', 'PRODUCT', 'STATUS', 'CLAIM_STATUS']])

   ORDER_ID        PRODUCT     STATUS CLAIM_STATUS
0  ORD00001  Router WiFi 6  Delivered     Approved
1  ORD00002      Mesh Node  Delivered     No Claim
2  ORD00003    Fiber Modem    Shipped     No Claim
3  ORD00004     CCTV Cloud  Delivered     No Claim
4  ORD00005  Router WiFi 6    Pending     No Claim
5  ORD00006      Mesh Node  Cancelled     No Claim
6  ORD00007  Router WiFi 6  Delivered      Pending
7  ORD00008    Fiber Modem    Shipped     No Claim
8  ORD00009     CCTV Cloud    Pending     No Claim
9  ORD00010      Mesh Node  Delivered     No Claim

# üìä ‡∏ö‡∏ó‡∏™‡∏£‡∏∏‡∏õ: ‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏•‡∏°‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ (Claim Analysis Report)
---

‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡∏ô‡∏≥‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏≤‡∏Å 3 ‡πÅ‡∏´‡∏•‡πà‡∏á (Orders, Deliveries, Claims) ‡∏°‡∏≤‡∏£‡∏ß‡∏°‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡πÅ‡∏•‡πâ‡∏ß ‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏™‡∏∏‡∏î‡∏ó‡πâ‡∏≤‡∏¢‡∏Ñ‡∏∑‡∏≠‡∏Å‡∏≤‡∏£ **"‡∏ö‡∏µ‡∏ö‡∏≠‡∏±‡∏î"** ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏´‡πâ‡∏Å‡∏•‡∏≤‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡∏™‡∏£‡∏∏‡∏õ‡∏Ñ‡∏£‡∏±‡∏ö

| ‡∏Ñ‡∏≥‡∏®‡∏±‡∏û‡∏ó‡πå (Technical Term) | ‡∏Ñ‡∏≥‡∏≠‡πà‡∏≤‡∏ô‡πÑ‡∏ó‡∏¢ (Pronunciation) | ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢ (Translation/Definition) |
| :--- | :--- | :--- |
| **Data Aggregation** | ‡∏î‡∏≤‡∏ï‡πâ‡∏≤ ‡πÅ‡∏≠‡πá‡∏Å-‡πÄ‡∏Å‡∏£-‡πÄ‡∏Å-‡∏ä‡∏±‡∏ô | **‡∏Å‡∏≤‡∏£‡∏£‡∏ß‡∏ö‡∏£‡∏ß‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•** ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏´‡∏≤‡∏ú‡∏•‡∏™‡∏£‡∏∏‡∏õ (‡πÄ‡∏ä‡πà‡∏ô ‡∏¢‡∏≠‡∏î‡∏£‡∏ß‡∏°, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô) |
| **Revenue at Risk** | ‡πÄ‡∏£-‡πÄ‡∏ß-‡∏ô‡∏¥‡∏ß ‡πÅ‡∏≠‡∏ó ‡∏£‡∏¥‡∏™‡∏Ñ‡πå | **‡∏£‡∏≤‡∏¢‡πÑ‡∏î‡πâ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡πà‡∏¢‡∏á** (‡πÉ‡∏ô‡∏ó‡∏µ‡πà‡∏ô‡∏µ‡πâ‡∏Ñ‡∏∑‡∏≠‡∏¢‡∏≠‡∏î‡πÄ‡∏á‡∏¥‡∏ô‡∏Ç‡∏≠‡∏á‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡πÄ‡∏Ñ‡∏•‡∏°) |
| **Frequency Analysis** | ‡∏ü‡∏£‡∏µ-‡πÄ‡∏Ñ‡∏ß‡∏ô-‡∏ã‡∏µ ‡∏≠‡∏∞-‡πÅ‡∏ô-‡∏•‡∏¥-‡∏ã‡∏¥‡∏™ | **‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ñ‡∏µ‡πà** (‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏≠‡∏∞‡πÑ‡∏£‡πÄ‡∏Å‡∏¥‡∏î‡∏Ç‡∏∂‡πâ‡∏ô‡∏ö‡πà‡∏≠‡∏¢‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î) |
| **Grand Total** | ‡πÅ‡∏Å‡∏£‡∏ô‡∏î‡πå ‡πÇ‡∏ó-‡∏ó‡∏±‡∏• | **‡∏¢‡∏≠‡∏î‡∏£‡∏ß‡∏°‡∏™‡∏∏‡∏ó‡∏ò‡∏¥** ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î |

### üí° ‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡πã‡∏≤‡∏à‡∏∞‡πÑ‡∏î‡πâ‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô (Review)
1. ‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ `groupby` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏î‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏ï‡∏≤‡∏°‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤
2. ‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ `count()` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏î‡∏π‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£
3. ‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ `sum()` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏£‡∏ß‡∏°‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢

In [12]:
# 1. ‡∏Å‡∏£‡∏≠‡∏á‡πÄ‡∏≠‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏•‡∏°‡∏à‡∏£‡∏¥‡∏á (‡πÑ‡∏°‡πà‡πÉ‡∏ä‡πà 'No Claim')
claims_only = df_final[df_final['CLAIM_STATUS'] != 'No Claim']

# 2. ‡∏à‡∏±‡∏î‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏ï‡∏≤‡∏°‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ (PRODUCT) 
# ‡πÅ‡∏•‡∏∞‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì: ‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÄ‡∏Ñ‡∏™ (count) ‡πÅ‡∏•‡∏∞ ‡∏£‡∏ß‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤ (sum)
claim_report = claims_only.groupby('PRODUCT')['PRICE'].agg(['count', 'sum'])

# 3. ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡πâ‡∏´‡∏±‡∏ß‡∏´‡∏ô‡πâ‡∏≤‡∏≠‡πà‡∏≤‡∏ô‡∏á‡πà‡∏≤‡∏¢
claim_report = claim_report.rename(columns={
    'count': '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÄ‡∏Ñ‡∏™‡∏ó‡∏µ‡πà‡πÄ‡∏Ñ‡∏•‡∏°',
    'sum': '‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢‡∏£‡∏ß‡∏°'
})

# 4. ‡∏ó‡∏ö‡∏ó‡∏ß‡∏ô‡∏ö‡∏ó‡∏ó‡∏µ‡πà 3: ‡∏ï‡∏Å‡πÅ‡∏ï‡πà‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÉ‡∏´‡πâ‡∏™‡∏ß‡∏¢‡∏á‡∏≤‡∏°
styled_report = claim_report.style.format({
    '‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢‡∏£‡∏ß‡∏°': '{:,.2f} ‡∏ö‡∏≤‡∏ó'
})

print("‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏™‡∏£‡∏∏‡∏õ‡∏¢‡∏≠‡∏î‡πÄ‡∏Ñ‡∏•‡∏°‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤:")
display(styled_report)

‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏™‡∏£‡∏∏‡∏õ‡∏¢‡∏≠‡∏î‡πÄ‡∏Ñ‡∏•‡∏°‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤:

## ‚úÖ ‡∏™‡∏£‡∏∏‡∏õ‡∏Å‡∏≤‡∏£‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡∏£‡∏π‡πâ‡∏Ç‡∏≠‡∏á‡∏õ‡πã‡∏≤ (Course Completion)
---

‡∏¢‡∏¥‡∏ô‡∏î‡∏µ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤! ‡∏ï‡∏≠‡∏ô‡∏ô‡∏µ‡πâ‡∏õ‡πã‡∏≤‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• ISP ‡πÅ‡∏•‡∏∞ Supply Chain ‡πÑ‡∏î‡πâ‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏°‡∏∑‡∏≠‡πÇ‡∏õ‡∏£‡πÅ‡∏•‡πâ‡∏ß:

1. **Path 1 (Foundation):** ‡∏õ‡πã‡∏≤‡πÄ‡∏õ‡∏¥‡∏î‡πÑ‡∏ü‡∏•‡πå‡∏´‡∏•‡∏≤‡∏¢‡∏ä‡∏µ‡∏ó‡πÅ‡∏•‡∏∞‡∏Ñ‡∏∏‡∏° Type ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÑ‡∏î‡πâ‡πÅ‡∏°‡πà‡∏ô‡∏¢‡∏≥
2. **Path 2 (Calculation):** ‡∏õ‡πã‡∏≤‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÅ‡∏•‡∏∞‡∏™‡∏£‡πâ‡∏≤‡∏á Logic `np.where` ‡∏ï‡∏±‡∏î‡∏™‡∏¥‡∏ô‡πÉ‡∏à‡πÅ‡∏ó‡∏ô‡∏Ñ‡∏ô‡πÑ‡∏î‡πâ
3. **Path 3 (Aggregation):** ‡∏õ‡πã‡∏≤ Merge ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà‡πÅ‡∏¢‡∏Å‡∏Å‡∏±‡∏ô‡∏≠‡∏¢‡∏π‡πà ‡πÅ‡∏•‡∏∞‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏•‡∏≠‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡πÑ‡∏î‡πâ

> **Note ‡∏à‡∏≤‡∏Å‡∏à‡∏∏‡∏Å‡∏ó‡∏≠‡∏á:** ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÅ‡∏™‡∏ô‡πÅ‡∏ñ‡∏ß ‡∏´‡∏£‡∏∑‡∏≠ 20 ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå ‡∏Å‡πá‡πÉ‡∏ä‡πâ‡∏ß‡∏¥‡∏ò‡∏µ‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏Å‡∏±‡∏ô‡∏ô‡∏µ‡πâ‡∏Ñ‡∏£‡∏±‡∏ö ‡πÅ‡∏Ñ‡πà‡∏õ‡πã‡∏≤‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ (usecols) ‡πÅ‡∏•‡∏∞‡∏´‡∏°‡∏±‡πà‡∏ô‡πÄ‡∏ä‡πá‡∏Å‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á (isna) ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏∞‡πÄ‡∏¢‡∏≠‡∏∞‡πÅ‡∏Ñ‡πà‡πÑ‡∏´‡∏ô‡∏õ‡πã‡∏≤‡∏Å‡πá‡πÄ‡∏≠‡∏≤‡∏≠‡∏¢‡∏π‡πà‡πÅ‡∏ô‡πà‡∏ô‡∏≠‡∏ô!