‡∏≠‡∏ö‡∏ô‡∏µ‡πâ‡∏ú‡∏°‡∏à‡∏±‡∏î‡∏ä‡∏∏‡∏î "IT Inventory Management" (‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏û‡∏±‡∏™‡∏î‡∏∏‡πÑ‡∏≠‡∏ó‡∏µ) ‡∏°‡∏≤‡πÉ‡∏´‡πâ‡∏Ñ‡∏£‡∏±‡∏ö ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ä‡∏∏‡∏î‡∏ô‡∏µ‡πâ‡∏à‡∏∞‡∏à‡∏≥‡∏•‡∏≠‡∏á‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏Ñ‡∏≠‡∏°‡∏û‡∏¥‡∏ß‡πÄ‡∏ï‡∏≠‡∏£‡πå‡πÉ‡∏ô‡∏ö‡∏£‡∏¥‡∏©‡∏±‡∏ó‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏° "‡∏°‡∏±‡πà‡∏ß" ‡∏™‡∏π‡∏á‡∏Å‡∏ß‡πà‡∏≤‡πÄ‡∏î‡∏¥‡∏° ‡∏ó‡∏±‡πâ‡∏á‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ß‡∏±‡∏î (GB/MB), ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏á‡∏¥‡∏ô‡∏ï‡∏£‡∏≤‡∏´‡∏•‡∏≤‡∏¢‡∏™‡∏Å‡∏∏‡∏• ‡πÅ‡∏•‡∏∞‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ó‡∏µ‡πà‡∏û‡∏¥‡∏°‡∏û‡πå‡∏°‡∏≤‡∏Ñ‡∏ô‡∏•‡∏∞‡∏ü‡∏≠‡∏£‡πå‡πÅ‡∏°‡∏ï‡∏Ñ‡∏£‡∏±‡∏ö

üõ†Ô∏è ‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏ó‡∏µ‡πà 1: ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏ä‡∏∏‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏û‡∏±‡∏™‡∏î‡∏∏‡πÑ‡∏≠‡∏ó‡∏µ (Messy Inventory)
‡∏Å‡πä‡∏≠‡∏õ‡∏õ‡∏µ‡πâ‡πÇ‡∏Ñ‡πâ‡∏î‡∏ô‡∏µ‡πâ‡πÑ‡∏õ‡∏£‡∏±‡∏ô‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÇ‡∏à‡∏ó‡∏¢‡πå‡∏Ñ‡∏£‡∏±‡∏ö

In [175]:
import pandas as pd
import numpy as np

inv_data = {
    'Serial_Number': ['SN-001', 'sn-001', 'SN-002', 'SN-003', 'SN-004', 'SN-005', 'SN-006'],
    'Brand': ['dell', 'DELL', 'hp', '  Apple  ', 'Lenovo', 'hp', 'DELL'],
    'Model': ['Latitude 5420', 'Latitude 5420', 'EliteBook', '  MacBook Pro  ', 'ThinkPad T14', 'EliteBook', 'Latitude 7420'],
    'RAM_Size': ['16GB', '16GB', '8GB', '16GB', '32GB', '4096MB', '16GB'],
    'Purchase_Price': ['‡∏ø25,000', '25000', '$800', '‡∏ø55,000', '32,000', '‡∏ø22000', '28000'],
    'Purchase_Date': ['2024.01.15', '2024/01/15', '12-05-2023', '2024.02.20', '2023.11.10', '2023/12/01', '2024.01.20'],
    'Status': ['In Use', 'In Use', 'Available', 'Repair', 'In-Use', 'Available', 'IN USE']
}

df_inv_origi = pd.DataFrame(inv_data)
df_inv = df_inv_origi.copy()
print("‡∏£‡∏∞‡∏ö‡∏ö‡∏Ñ‡∏•‡∏±‡∏á‡∏û‡∏±‡∏™‡∏î‡∏∏‡πÑ‡∏≠‡∏ó‡∏µ (‡∏â‡∏ö‡∏±‡∏ö‡∏ï‡πâ‡∏≠‡∏á‡∏ä‡∏≥‡∏£‡∏∞‡∏•‡πâ‡∏≤‡∏á) ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!")
print(df_inv)

‡∏£‡∏∞‡∏ö‡∏ö‡∏Ñ‡∏•‡∏±‡∏á‡∏û‡∏±‡∏™‡∏î‡∏∏‡πÑ‡∏≠‡∏ó‡∏µ (‡∏â‡∏ö‡∏±‡∏ö‡∏ï‡πâ‡∏≠‡∏á‡∏ä‡∏≥‡∏£‡∏∞‡∏•‡πâ‡∏≤‡∏á) ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!
  Serial_Number      Brand            Model RAM_Size Purchase_Price  \
0        SN-001       dell    Latitude 5420     16GB        ‡∏ø25,000
1        sn-001       DELL    Latitude 5420     16GB          25000
2        SN-002         hp        EliteBook      8GB           $800
3        SN-003    Apple      MacBook Pro       16GB        ‡∏ø55,000
4        SN-004     Lenovo     ThinkPad T14     32GB         32,000
5        SN-005         hp        EliteBook   4096MB         ‡∏ø22000
6        SN-006       DELL    Latitude 7420     16GB          28000

  Purchase_Date     Status
0    2024.01.15     In Use
1    2024/01/15     In Use
2    12-05-2023  Available
3    2024.02.20     Repair
4    2023.11.10     In-Use
5    2023/12/01  Available
6    2024.01.20     IN USE

‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Brand ‡πÅ‡∏•‡∏∞ Model ‡∏°‡∏µ‡∏ä‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏á‡πÅ‡∏•‡∏∞‡∏ï‡∏±‡∏ß‡∏û‡∏¥‡∏°‡∏û‡πå‡πÄ‡∏•‡πá‡∏Å-‡πÉ‡∏´‡∏ç‡πà‡∏õ‡∏ô‡∏Å‡∏±‡∏ô ‡∏à‡∏á‡∏•‡∏ö‡∏ä‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏á‡πÅ‡∏•‡∏∞‡∏õ‡∏£‡∏±‡∏ö‡πÄ‡∏õ‡πá‡∏ô ‡∏ï‡∏±‡∏ß‡∏û‡∏¥‡∏°‡∏û‡πå‡πÉ‡∏´‡∏ç‡πà‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î (Upper Case)

In [176]:
'''‡πÅ‡∏ö‡∏ö‡∏á‡πà‡∏≤‡∏¢'''
df_invv = df_inv.copy()
df_invv['Brand'] = df_inv['Brand'].str.strip().str.upper()
df_invv['Model'] = df_inv['Model'].str.strip().str.upper()
df_invv

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16GB,"‡∏ø25,000",2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16GB,25000,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8GB,$800,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16GB,"‡∏ø55,000",2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32GB,"32,000",2023.11.10,In-Use
5,SN-005,HP,ELITEBOOK,4096MB,‡∏ø22000,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16GB,28000,2024.01.20,IN USE

In [177]:
'''‡πÅ‡∏ö‡∏ö‡∏°‡∏∑‡∏≠‡∏≠‡∏≤‡∏ä‡∏µ‡∏û'''
# df_inv2 = df_inv.copy()
cols_to_clean = ['Brand', 'Model']
df_inv[cols_to_clean] = df_inv[cols_to_clean].apply(lambda X: X.str.strip().str.upper())
df_inv

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16GB,"‡∏ø25,000",2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16GB,25000,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8GB,$800,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16GB,"‡∏ø55,000",2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32GB,"32,000",2023.11.10,In-Use
5,SN-005,HP,ELITEBOOK,4096MB,‡∏ø22000,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16GB,28000,2024.01.20,IN USE

In [178]:
'''‡πÅ‡∏ö‡∏ö‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤'''
df_inv3 = df_inv.copy()
for col in cols_to_clean:
    df_inv3[col] = df_inv3[col].str.strip().str.upper()
df_inv3

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16GB,"‡∏ø25,000",2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16GB,25000,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8GB,$800,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16GB,"‡∏ø55,000",2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32GB,"32,000",2023.11.10,In-Use
5,SN-005,HP,ELITEBOOK,4096MB,‡∏ø22000,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16GB,28000,2024.01.20,IN USE


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå RAM_Size ‡πÉ‡∏´‡πâ‡∏•‡∏ö‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£ 'GB' ‡∏≠‡∏≠‡∏Å‡πÉ‡∏´‡πâ‡∏´‡∏°‡∏î

In [179]:
'''‡πÅ‡∏ö‡∏ö‡∏á‡πà‡∏≤‡∏¢‡πÜ'''
df_inv_ram = df_inv.copy()
df_inv_ram['RAM_Size'] = df_inv_ram['RAM_Size'].replace(r'[GB]', '', regex=True)

df_inv_ram

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,"‡∏ø25,000",2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16,25000,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8,$800,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16,"‡∏ø55,000",2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,"32,000",2023.11.10,In-Use
5,SN-005,HP,ELITEBOOK,4096M,‡∏ø22000,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16,28000,2024.01.20,IN USE

In [180]:
'''‡πÅ‡∏ö‡∏ö‡∏á‡πà‡∏≤‡∏¢‡πÜ‡∏≠‡∏µ‡∏Å‡∏ß‡∏¥‡∏ò‡∏µ'''
df_inv_ram2 = df_inv.copy()
clean_ram = {
    '16GB': '16',
    '8GB': '8',
    '32GB': '32',
    '4096MB': '4'
}
df_inv_ram2['RAM_Size'] = df_inv_ram2['RAM_Size'].replace(clean_ram).astype(int)
df_inv_ram2

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,"‡∏ø25,000",2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16,25000,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8,$800,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16,"‡∏ø55,000",2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,"32,000",2023.11.10,In-Use
5,SN-005,HP,ELITEBOOK,4,‡∏ø22000,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16,28000,2024.01.20,IN USE

In [181]:
''''''

''


‡πÇ‡∏à‡∏ó‡∏¢‡πå: (‡∏¢‡∏≤‡∏Å‡∏Ç‡∏∂‡πâ‡∏ô!) ‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå RAM_Size ‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô '4096MB' ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÄ‡∏õ‡πá‡∏ô '4' (‡πÄ‡∏û‡∏£‡∏≤‡∏∞ 1024MB = 1GB)

‡∏Ñ‡∏≥‡πÉ‡∏ö‡πâ: df_inv['RAM_Size'].replace('4096MB', '4', inplace=True)

In [182]:
'''‡πÅ‡∏ö‡∏ö‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤'''
df_inv4 = df_inv.copy()
df_inv4['RAM_Size'] = df_inv4['RAM_Size'].replace(['4096MB'], ['4'])
df_inv4

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16GB,"‡∏ø25,000",2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16GB,25000,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8GB,$800,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16GB,"‡∏ø55,000",2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32GB,"32,000",2023.11.10,In-Use
5,SN-005,HP,ELITEBOOK,4,‡∏ø22000,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16GB,28000,2024.01.20,IN USE

In [183]:
'''‡πÅ‡∏ö‡∏ö‡∏°‡∏∑‡∏≠‡∏≠‡∏≤‡∏ä‡∏µ‡∏û'''
# 1. ‡∏î‡∏∂‡∏á‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡∏≠‡∏≠‡∏Å‡∏°‡∏≤‡πÅ‡∏•‡πâ‡∏ß‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô float
# (\d+) ‡∏Ñ‡∏∑‡∏≠‡πÄ‡∏≠‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç
df_inv_ram3 = df_inv.copy()
nums = df_inv_ram3['RAM_Size'].str.extract(r'(\d+)')[0].astype(float)

# 2. ‡πÉ‡∏ä‡πâ np.where (‡∏Ñ‡∏•‡πâ‡∏≤‡∏¢‡∏™‡∏π‡∏ï‡∏£ IF ‡πÉ‡∏ô Excel)
# ‡∏ñ‡πâ‡∏≤‡πÉ‡∏ô RAM_Size ‡∏°‡∏µ‡∏Ñ‡∏≥‡∏ß‡πà‡∏≤ 'MB' ‡πÉ‡∏´‡πâ‡πÄ‡∏≠‡∏≤‡πÄ‡∏•‡∏Ç‡πÑ‡∏õ‡∏´‡∏≤‡∏£ 1024 ‡∏ñ‡πâ‡∏≤‡πÑ‡∏°‡πà‡∏°‡∏µ (‡πÄ‡∏õ‡πá‡∏ô GB) ‡πÉ‡∏´‡πâ‡πÉ‡∏ä‡πâ‡πÄ‡∏•‡∏Ç‡πÄ‡∏î‡∏¥‡∏°‡πÄ‡∏•‡∏¢
df_inv_ram3['RAM_Size'] = np.where(
    df_inv['RAM_Size'].str.contains('MB', case=False),
    nums / 1024,
    nums
).astype(int)
print(df_inv_ram3['RAM_Size'])

0    16
1    16
2     8
3    16
4    32
5     4
6    16
Name: RAM_Size, dtype: int64

In [184]:
'''‡πÅ‡∏ö‡∏ö‡πÄ‡∏Ç‡πâ‡∏≤‡πÉ‡∏à‡∏á‡πà‡∏≤‡∏¢'''
def convert_ram(value):
    value = str(value).upper().strip()

    if 'MB' in value:
        number = float(value.replace('MB', ''))
        return int(number / 2024)
    elif 'GB' in value:
        return int(value.replace('GB', ''))
    return value

df_inv['RAM_Size'] = df_inv['RAM_Size'].apply(convert_ram)

df_inv['RAM_Size'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7 entries, 0 to 6
Series name: RAM_Size
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 188.0 bytes

‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏õ‡∏£‡∏±‡∏ö‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Status ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô 'In-Use' ‡∏´‡∏£‡∏∑‡∏≠ 'IN USE' ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡∏≥‡∏ß‡πà‡∏≤ 'In Use' ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

In [185]:
df_inv['Status'] = df_inv['Status'].replace(['In-Use', 'IN USE'], 'In Use')
df_inv

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,"‡∏ø25,000",2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16,25000,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8,$800,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16,"‡∏ø55,000",2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,"32,000",2023.11.10,In Use
5,SN-005,HP,ELITEBOOK,2,‡∏ø22000,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16,28000,2024.01.20,In Use


‡∏´‡∏°‡∏ß‡∏î: ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÄ‡∏á‡∏¥‡∏ô‡πÅ‡∏•‡∏∞‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç (Currency & Numeric) 

5. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Purchase_Price ‡∏°‡∏µ‡∏ó‡∏±‡πâ‡∏á‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏´‡∏°‡∏≤‡∏¢ ‡∏ø, $, ‡πÅ‡∏•‡∏∞ , ‡∏à‡∏á‡∏•‡∏ö‡∏™‡∏±‡∏ç‡∏•‡∏±‡∏Å‡∏©‡∏ì‡πå‡πÄ‡∏´‡∏•‡πà‡∏≤‡∏ô‡∏µ‡πâ‡∏≠‡∏≠‡∏Å‡πÉ‡∏´‡πâ‡∏´‡∏°‡∏î (‡πÉ‡∏ä‡πâ Regex ‡∏ó‡πà‡∏≤‡πÑ‡∏°‡πâ‡∏ï‡∏≤‡∏¢‡∏ó‡∏µ‡πà‡∏õ‡πã‡∏≤‡πÄ‡∏û‡∏¥‡πà‡∏á‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡∏°‡∏≤‡πÑ‡∏î‡πâ‡πÄ‡∏•‡∏¢!)

In [186]:
df_inv['Purchase_Price'] = df_inv['Purchase_Price'].replace(r'[‡∏ø$, ]', '', regex=True)
df_inv

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,25000,2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16,25000,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8,800,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16,55000,2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,32000,2023.11.10,In Use
5,SN-005,HP,ELITEBOOK,2,22000,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16,28000,2024.01.20,In Use


6. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÅ‡∏õ‡∏•‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Purchase_Price ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç (Float) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏£‡∏≠‡∏Å‡∏≤‡∏£‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì

In [187]:
df_inv['Purchase_Price'] = df_inv['Purchase_Price'].astype(float)
df_inv

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,25000.0,2024.01.15,In Use
1,sn-001,DELL,LATITUDE 5420,16,25000.0,2024/01/15,In Use
2,SN-002,HP,ELITEBOOK,8,800.0,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16,55000.0,2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,32000.0,2023.11.10,In Use
5,SN-005,HP,ELITEBOOK,2,22000.0,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16,28000.0,2024.01.20,In Use

‡∏´‡∏°‡∏ß‡∏î: ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÅ‡∏•‡∏∞‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ã‡πâ‡∏≥ (DateTime & Duplicates) 

7. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏•‡∏ö‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà Serial_Number ‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô‡∏≠‡∏≠‡∏Å (‡∏≠‡∏¢‡πà‡∏≤‡∏•‡∏∑‡∏°‡∏õ‡∏£‡∏±‡∏ö Serial_Number ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏û‡∏¥‡∏°‡∏û‡πå‡πÉ‡∏´‡∏ç‡πà‡∏Å‡πà‡∏≠‡∏ô‡πÄ‡∏ä‡πá‡∏Ñ‡∏ã‡πâ‡∏≥‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!)

In [188]:
df_inv['Serial_Number'] = df_inv['Serial_Number'].str.upper()
df_inv = df_inv.drop_duplicates(subset=['Serial_Number'])
df_inv

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,25000.0,2024.01.15,In Use
2,SN-002,HP,ELITEBOOK,8,800.0,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16,55000.0,2024.02.20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,32000.0,2023.11.10,In Use
5,SN-005,HP,ELITEBOOK,2,22000.0,2023/12/01,Available
6,SN-006,DELL,LATITUDE 7420,16,28000.0,2024.01.20,In Use


8. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: (‡∏ó‡πâ‡∏≤‡∏ó‡∏≤‡∏¢!) ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Purchase_Date ‡∏°‡∏µ‡∏ó‡∏±‡πâ‡∏á‡∏à‡∏∏‡∏î (.) ‡πÅ‡∏•‡∏∞‡∏™‡πÅ‡∏•‡∏ä (/) ‡∏à‡∏á‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏´‡∏°‡∏≤‡∏¢‡∏Ç‡∏µ‡∏î (-) ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

In [189]:
'''‡πÅ‡∏ö‡∏ö‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤'''
df_inv_date = df_inv.copy()
df_inv_date['Purchase_Date'] = df_inv['Purchase_Date'].str.replace(r'[./]', '-', regex=True)
df_inv_date

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,25000.0,2024-01-15,In Use
2,SN-002,HP,ELITEBOOK,8,800.0,12-05-2023,Available
3,SN-003,APPLE,MACBOOK PRO,16,55000.0,2024-02-20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,32000.0,2023-11-10,In Use
5,SN-005,HP,ELITEBOOK,2,22000.0,2023-12-01,Available
6,SN-006,DELL,LATITUDE 7420,16,28000.0,2024-01-20,In Use

In [ ]:
'''‡πÅ‡∏ö‡∏ö‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏à‡∏£‡∏¥‡∏á ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏°‡∏±‡∏ô‡∏°‡∏µ‡∏´‡∏•‡∏≤‡∏¢‡πÅ‡∏ö‡∏ö (‡∏ó‡πà‡∏≤‡∏ô‡∏µ‡πâ ‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡∏à‡∏ö)'''
# ‡πÉ‡∏ä‡πâ‡∏Ñ‡∏≥‡∏™‡∏±‡πà‡∏á‡πÄ‡∏ó‡∏û‡∏ï‡∏±‡∏ß‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏à‡∏ö
# errors='coerce' ‡∏Ñ‡∏∑‡∏≠‡∏ñ‡πâ‡∏≤‡πÄ‡∏à‡∏≠‡∏≠‡∏±‡∏ô‡πÑ‡∏´‡∏ô‡πÄ‡∏ô‡πà‡∏≤‡∏à‡∏£‡∏¥‡∏á‡πÜ ‡πÉ‡∏´‡πâ‡∏õ‡∏•‡πà‡∏≠‡∏¢‡∏ß‡πà‡∏≤‡∏á (NaT) ‡∏≠‡∏¢‡πà‡∏≤‡πÄ‡∏û‡∏¥‡πà‡∏á‡∏û‡πà‡∏ô Error
# dayfirst=True ‡∏ö‡∏≠‡∏Å‡∏ß‡πà‡∏≤ "‡∏ñ‡πâ‡∏≤‡πÄ‡∏à‡∏≠‡πÄ‡∏•‡∏Ç‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏Å‡∏ß‡∏° (‡πÄ‡∏ä‡πà‡∏ô 12-05) ‡πÉ‡∏´‡πâ‡∏Ñ‡∏¥‡∏î‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô ‡∏ß‡∏±‡∏ô-‡πÄ‡∏î‡∏∑‡∏≠‡∏ô ‡πÑ‡∏ß‡πâ‡∏Å‡πà‡∏≠‡∏ô‡∏ô‡∏∞"
df_inv_date2 = df_inv.copy()
df_inv_date2['Purchase_Date'] = pd.to_datetime(df_inv_date2['Purchase_Date'], dayfirst=True, errors='coerce')
df_inv_date2

C:\Users\nattapong.kho\AppData\Local\Temp\ipykernel_3308\475901918.py:6: UserWarning: Parsing dates in %Y.%m.%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_inv_date2['Purchase_Date'] = pd.to_datetime(df_inv_date2['Purchase_Date'], dayfirst=True, errors='coerce')

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,25000.0,2024-01-15,In Use
2,SN-002,HP,ELITEBOOK,8,800.0,NaT,Available
3,SN-003,APPLE,MACBOOK PRO,16,55000.0,2024-02-20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,32000.0,2023-11-10,In Use
5,SN-005,HP,ELITEBOOK,2,22000.0,NaT,Available
6,SN-006,DELL,LATITUDE 7420,16,28000.0,2024-01-20,In Use

In [200]:
'''‡πÅ‡∏ö‡∏ö‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏à‡∏£‡∏¥‡∏á ‡∏Ç‡∏±‡πâ‡∏ô‡∏™‡∏∏‡∏î'''
df_inv = df_inv.copy()
df_inv['Purchase_Date'] = pd.to_datetime(
    df_inv['Purchase_Date'],
    dayfirst=True,      # ‡∏ö‡∏≠‡∏Å‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤ "‡∏ñ‡πâ‡∏≤‡πÄ‡∏à‡∏≠‡πÄ‡∏•‡∏Ç‡∏Å‡∏≥‡∏Å‡∏ß‡∏° ‡πÉ‡∏´‡πâ‡πÄ‡∏≠‡∏≤ ‡∏ß‡∏±‡∏ô ‡∏Ç‡∏∂‡πâ‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏ô‡∏∞"
    format='mixed',     # ‡πÑ‡∏°‡πâ‡∏ï‡∏≤‡∏¢: ‡∏ö‡∏≠‡∏Å‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤ "‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏°‡∏±‡∏ô‡∏ú‡∏™‡∏°‡∏Å‡∏±‡∏ô‡∏°‡∏≤ ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡πÉ‡∏´‡πâ‡∏´‡∏ô‡πà‡∏≠‡∏¢!"
    errors='coerce'     # ‡∏ñ‡πâ‡∏≤‡∏≠‡∏±‡∏ô‡πÑ‡∏´‡∏ô‡πÄ‡∏ô‡πà‡∏≤‡∏à‡∏£‡∏¥‡∏á‡πÜ (‡πÄ‡∏ä‡πà‡∏ô 31/02/2024) ‡πÉ‡∏´‡πâ‡∏Ç‡∏∂‡πâ‡∏ô NaT ‡πÑ‡∏ß‡πâ‡∏Å‡πà‡∏≠‡∏ô‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏∞‡πÑ‡∏î‡πâ‡πÑ‡∏°‡πà‡∏û‡∏±‡∏á
)
df_inv['Purchase_Date'] = df_inv['Purchase_Date'].dt.strftime('%Y-%m-%d')
df_inv

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status
0,SN-001,DELL,LATITUDE 5420,16,25000.0,2024-01-15,In Use
2,SN-002,HP,ELITEBOOK,8,800.0,2023-05-12,Available
3,SN-003,APPLE,MACBOOK PRO,16,55000.0,2024-02-20,Repair
4,SN-004,LENOVO,THINKPAD T14,32,32000.0,2023-11-10,In Use
5,SN-005,HP,ELITEBOOK,2,22000.0,2023-12-01,Available
6,SN-006,DELL,LATITUDE 7420,16,28000.0,2024-01-20,In Use


‡∏´‡∏°‡∏ß‡∏î: ‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏•‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô (Final Report) 

9. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡∏°‡πà‡∏ä‡∏∑‡πà‡∏≠ Is_High_End ‡πÇ‡∏î‡∏¢‡∏ñ‡πâ‡∏≤ Purchase_Price ‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 30,000 ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô True ‡∏ô‡∏≠‡∏Å‡∏ô‡∏±‡πâ‡∏ô‡πÄ‡∏õ‡πá‡∏ô False

In [205]:
df_inv['Is_High_End'] = df_inv['Purchase_Price'] > 30000
df_inv

,Serial_Number,Brand,Model,RAM_Size,Purchase_Price,Purchase_Date,Status,Is_High_End
0,SN-001,DELL,LATITUDE 5420,16,25000.0,2024-01-15,In Use,False
2,SN-002,HP,ELITEBOOK,8,800.0,2023-05-12,Available,False
3,SN-003,APPLE,MACBOOK PRO,16,55000.0,2024-02-20,Repair,True
4,SN-004,LENOVO,THINKPAD T14,32,32000.0,2023-11-10,In Use,True
5,SN-005,HP,ELITEBOOK,2,22000.0,2023-12-01,Available,False
6,SN-006,DELL,LATITUDE 7420,16,28000.0,2024-01-20,In Use,False


10. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤ ‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏û‡∏±‡∏™‡∏î‡∏∏‡∏£‡∏ß‡∏°‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î (Sum of Purchase_Price) ‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏Ñ‡∏•‡∏µ‡∏ô‡∏ó‡∏∏‡∏Å‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÄ‡∏™‡∏£‡πá‡∏à‡πÅ‡∏•‡πâ‡∏ß

In [212]:
df_inv['Purchase_Price'] = pd.to_numeric(df_inv['Purchase_Price'], errors='coerce')
sum_price = df_inv['Purchase_Price'].sum()
print(f'‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏£‡∏ß‡∏°‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {sum_price:,.2f} ‡∏ö‡∏≤‡∏ó')

‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏£‡∏ß‡∏°‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 162,800.00 ‡∏ö‡∏≤‡∏ó

In [ ]:
sum_brand = df_inv.groupby('Brand')['Purchase_Price'].sum().sort_values(ascending=)

for brand, price in sum_brand.items():
    print(f'‡∏£‡∏≤‡∏Ñ‡∏≤‡∏£‡∏ß‡∏° ‡πÅ‡∏ï‡πà‡∏•‡∏∞ ‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: {brand:<10} ‡∏£‡∏≤‡∏Ñ‡∏≤: {price:,.2f} ‡∏ö‡∏≤‡∏ó')

‡∏£‡∏≤‡∏Ñ‡∏≤‡∏£‡∏ß‡∏° ‡πÅ‡∏ï‡πà‡∏•‡∏∞ ‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: APPLE      ‡∏£‡∏≤‡∏Ñ‡∏≤: 55,000.00 ‡∏ö‡∏≤‡∏ó
‡∏£‡∏≤‡∏Ñ‡∏≤‡∏£‡∏ß‡∏° ‡πÅ‡∏ï‡πà‡∏•‡∏∞ ‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: DELL       ‡∏£‡∏≤‡∏Ñ‡∏≤: 53,000.00 ‡∏ö‡∏≤‡∏ó
‡∏£‡∏≤‡∏Ñ‡∏≤‡∏£‡∏ß‡∏° ‡πÅ‡∏ï‡πà‡∏•‡∏∞ ‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: HP         ‡∏£‡∏≤‡∏Ñ‡∏≤: 22,800.00 ‡∏ö‡∏≤‡∏ó
‡∏£‡∏≤‡∏Ñ‡∏≤‡∏£‡∏ß‡∏° ‡πÅ‡∏ï‡πà‡∏•‡∏∞ ‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: LENOVO     ‡∏£‡∏≤‡∏Ñ‡∏≤: 32,000.00 ‡∏ö‡∏≤‡∏ó


üí° ‡∏Ñ‡∏≥‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏à‡∏≤‡∏Å "‡∏à‡∏∏‡∏Å‡πÄ‡∏á‡∏¥‡∏ô":
‡∏Ç‡πâ‡∏≠ 1 & 7: ‡∏Å‡πà‡∏≠‡∏ô‡∏à‡∏∞ drop_duplicates ‡∏ñ‡πâ‡∏≤ Serial_Number ‡∏°‡∏µ‡∏ó‡∏±‡πâ‡∏á 'sn-001' ‡πÅ‡∏•‡∏∞ 'SN-001' ‡∏°‡∏±‡∏ô‡∏à‡∏∞‡πÑ‡∏°‡πà‡∏°‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏ã‡πâ‡∏≥ ‡∏õ‡πã‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡∏™‡∏±‡πà‡∏á‡πÉ‡∏´‡πâ‡∏°‡∏±‡∏ô‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏û‡∏¥‡∏°‡∏û‡πå‡πÉ‡∏´‡∏ç‡πà‡πÉ‡∏´‡πâ‡∏´‡∏°‡∏î‡∏Å‡πà‡∏≠‡∏ô‡∏î‡πâ‡∏ß‡∏¢ .str.upper() ‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö

‡∏Ç‡πâ‡∏≠ 5: ‡πÉ‡∏ô Regex ‡∏õ‡πã‡∏≤‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÉ‡∏™‡πà‡∏™‡∏Å‡∏∏‡∏•‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ‡πÑ‡∏î‡πâ‡πÄ‡∏•‡∏¢ ‡πÄ‡∏ä‡πà‡∏ô r'[‡∏ø$,]'

‡∏Ñ‡πà‡∏≠‡∏¢‡πÜ ‡πÅ‡∏Å‡∏∞‡πÑ‡∏õ‡∏ó‡∏µ‡∏•‡∏∞‡∏Ç‡πâ‡∏≠‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤ ‡∏ñ‡πâ‡∏≤‡∏ï‡∏¥‡∏î‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡πÅ‡∏õ‡∏•‡∏á MB ‡πÄ‡∏õ‡πá‡∏ô GB ‡∏´‡∏£‡∏∑‡∏≠‡∏Å‡∏≤‡∏£‡πÅ‡∏Å‡πâ‡πÑ‡∏ü‡∏•‡πå‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà ‡∏ö‡∏≠‡∏Å "‡∏à‡∏∏‡∏Å‡πÄ‡∏á‡∏¥‡∏ô" ‡πÑ‡∏î‡πâ‡πÄ‡∏•‡∏¢ ‡πÄ‡∏î‡∏µ‡πã‡∏¢‡∏ß‡∏ú‡∏°‡∏ä‡πà‡∏ß‡∏¢‡πÉ‡∏ö‡πâ‡πÉ‡∏´‡πâ‡∏Ñ‡∏£‡∏±‡∏ö!

‡∏õ‡πã‡∏≤‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏•‡∏∏‡∏¢‡∏Ç‡πâ‡∏≠ 1-4 ‡∏Å‡πà‡∏≠‡∏ô‡πÄ‡∏•‡∏¢‡πÑ‡∏´‡∏°‡∏Ñ‡∏£‡∏±‡∏ö?

1. ‡πÅ‡∏ö‡∏ö‡∏á‡πà‡∏≤‡∏¢: ‡∏™‡πà‡∏á‡∏≠‡∏≠‡∏Å‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÄ‡∏î‡∏µ‡∏¢‡∏ß (Single Sheet)
‡∏ñ‡πâ‡∏≤‡∏õ‡πã‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡πÅ‡∏Ñ‡πà‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• Inventory ‡∏ó‡∏µ‡πà‡∏Ñ‡∏•‡∏µ‡∏ô‡πÅ‡∏•‡πâ‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÄ‡∏î‡∏µ‡∏¢‡∏ß ‡πÉ‡∏ä‡πâ‡∏Ñ‡∏≥‡∏™‡∏±‡πà‡∏á‡∏ö‡∏£‡∏£‡∏ó‡∏±‡∏î‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏à‡∏ö‡∏Ñ‡∏£‡∏±‡∏ö

In [227]:

# ‡∏™‡πà‡∏á‡∏≠‡∏≠‡∏Å‡πÑ‡∏ü‡∏•‡πå‡∏ä‡∏∑‡πà‡∏≠ inventory_cleaned.xlsx ‡πÇ‡∏î‡∏¢‡πÑ‡∏°‡πà‡πÄ‡∏≠‡∏≤‡πÄ‡∏•‡∏Ç‡∏•‡∏≥‡∏î‡∏±‡∏ö‡πÅ‡∏ñ‡∏ß (index) ‡πÑ‡∏õ‡∏î‡πâ‡∏ß‡∏¢
df_inv.to_excel('output/inventory_cleaned_one_sheet.xlsx', index=False)
print('‡∏™‡πà‡∏á‡∏≠‡∏≠‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢')

‡∏™‡πà‡∏á‡∏≠‡∏≠‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢


2. ‡πÅ‡∏ö‡∏ö‡∏°‡∏∑‡∏≠‡πÇ‡∏õ‡∏£: ‡∏™‡πà‡∏á‡∏≠‡∏≠‡∏Å‡∏´‡∏•‡∏≤‡∏¢‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡πÄ‡∏î‡∏µ‡∏¢‡∏ß (Multiple Sheets)
‡∏´‡∏ô‡πâ‡∏≤‡∏á‡∏≤‡∏ô‡∏à‡∏£‡∏¥‡∏á ‡∏´‡∏±‡∏ß‡∏´‡∏ô‡πâ‡∏≤‡∏°‡∏±‡∏Å‡∏à‡∏∞‡∏≠‡∏¢‡∏≤‡∏Å‡πÑ‡∏î‡πâ‡∏ó‡∏±‡πâ‡∏á "‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏î‡∏¥‡∏ö‡∏ó‡∏µ‡πà‡∏™‡∏∞‡∏≠‡∏≤‡∏î‡πÅ‡∏•‡πâ‡∏ß" ‡πÅ‡∏•‡∏∞ "‡∏™‡∏£‡∏∏‡∏õ‡∏¢‡∏≠‡∏î (Summary)" ‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏Å‡∏±‡∏ô‡πÅ‡∏ï‡πà‡πÅ‡∏¢‡∏Å‡∏Ñ‡∏ô‡∏•‡∏∞ Sheet ‡∏Ñ‡∏£‡∏±‡∏ö ‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡πÉ‡∏ä‡πâ‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏ß‡πà‡∏≤ ExcelWriter ‡∏Ñ‡∏£‡∏±‡∏ö

In [228]:
with pd.ExcelWriter('output/TI_Inventory_Report.xlsx') as writer:
    # Sheet ‡πÅ‡∏£‡∏Å: ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î
    df_inv.to_excel(writer, sheet_name='Clean_Data', index=False)

    # Sheet ‡∏™‡∏≠‡∏á: ‡∏™‡∏£‡∏∏‡∏õ‡∏¢‡∏≠‡∏î‡∏ï‡∏≤‡∏°‡∏¢‡∏µ‡πâ‡∏´‡πâ‡∏≠
    sum_brand.to_excel(writer, sheet_name='Summary_by_Brand')

print('‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡πÅ‡∏ö‡∏ö‡πÅ‡∏¢‡∏Å Sheet ‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢‡πÅ‡∏•‡πâ‡∏ß!')

‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡πÅ‡∏ö‡∏ö‡πÅ‡∏¢‡∏Å Sheet ‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢‡πÅ‡∏•‡πâ‡∏ß!


üí° ‡∏ó‡∏£‡∏¥‡∏Ñ‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏á‡∏≤‡∏ô‡πÑ‡∏≠‡∏ó‡∏µ
‡∏ï‡πâ‡∏≠‡∏á‡∏°‡∏µ Library ‡πÄ‡∏™‡∏£‡∏¥‡∏°: ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ Pandas ‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÑ‡∏ü‡∏•‡πå Excel ‡πÑ‡∏î‡πâ ‡∏õ‡πã‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡∏ï‡∏¥‡∏î‡∏ï‡∏±‡πâ‡∏á openpyxl ‡∏Å‡πà‡∏≠‡∏ô (‡∏ñ‡πâ‡∏≤‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡∏°‡∏µ) ‡πÇ‡∏î‡∏¢‡∏û‡∏¥‡∏°‡∏û‡πå‡πÉ‡∏ô Terminal ‡∏ß‡πà‡∏≤: pip install openpyxl

‡∏Å‡∏≤‡∏£‡∏ï‡∏±‡πâ‡∏á‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏ü‡∏•‡πå: ‡∏õ‡πã‡∏≤‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÄ‡∏ï‡∏¥‡∏°‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ‡πÉ‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏ü‡∏•‡πå‡πÑ‡∏î‡πâ‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÑ‡∏ü‡∏•‡πå‡πÑ‡∏°‡πà‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡∏î‡∏∂‡∏á Log ‡∏Ñ‡∏£‡∏±‡∏ö ‡πÄ‡∏ä‡πà‡∏ô IT_Report_2026_01_20.xlsx