üí° ‡∏Ñ‡∏≥‡πÉ‡∏ö‡πâ‡∏à‡∏≤‡∏Å "‡∏à‡∏∏‡∏Å‡πÄ‡∏á‡∏¥‡∏ô":
‡∏ñ‡πâ‡∏≤‡∏à‡∏∞‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏´‡∏•‡∏≤‡∏¢‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå ‡∏ï‡πâ‡∏≠‡∏á‡πÉ‡∏™‡πà‡∏Å‡πâ‡∏≤‡∏°‡∏õ‡∏π‡∏ã‡πâ‡∏≠‡∏ô‡∏Å‡∏±‡∏ô‡∏™‡∏≠‡∏á‡∏ä‡∏±‡πâ‡∏ô df[['Col1', 'Col2']]

‡∏ñ‡πâ‡∏≤‡∏à‡∏∞‡∏à‡∏±‡∏î‡∏Å‡∏•‡∏∏‡πà‡∏° ‡∏ï‡πâ‡∏≠‡∏á‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏î‡πâ‡∏ß‡∏¢ .groupby('‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏à‡∏∞‡∏£‡∏ß‡∏°') ‡∏ï‡∏≤‡∏°‡∏î‡πâ‡∏ß‡∏¢ ['‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏à‡∏∞‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì'] ‡πÅ‡∏•‡πâ‡∏ß‡∏õ‡∏¥‡∏î‡∏î‡πâ‡∏ß‡∏¢‡∏ü‡∏±‡∏á‡∏Å‡πå‡∏ä‡∏±‡∏ô‡∏≠‡∏¢‡πà‡∏≤‡∏á .sum() ‡∏´‡∏£‡∏∑‡∏≠ .mean()

‡∏õ‡πã‡∏≤‡∏Ñ‡πà‡∏≠‡∏¢‡πÜ ‡∏•‡∏≠‡∏á‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡∏ó‡∏µ‡∏•‡∏∞‡∏Ç‡πâ‡∏≠‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö ‡∏ï‡∏¥‡∏î‡∏Ç‡πâ‡∏≠‡πÑ‡∏´‡∏ô ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏´‡πâ‡πÄ‡∏â‡∏•‡∏¢‡∏Ç‡πâ‡∏≠‡πÑ‡∏´‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏ö‡∏≠‡∏Å‡πÑ‡∏î‡πâ‡πÄ‡∏•‡∏¢ ‡πÄ‡∏î‡∏µ‡πã‡∏¢‡∏ß‡∏ú‡∏°‡∏≠‡∏¢‡∏π‡πà‡∏ï‡∏£‡∏ß‡∏à‡∏Å‡∏≤‡∏£‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏´‡πâ‡∏Ñ‡∏£‡∏±‡∏ö!

‡∏õ‡πã‡∏≤‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏´‡πâ‡∏ú‡∏°‡πÄ‡∏â‡∏•‡∏¢‡∏ó‡∏µ‡∏•‡∏∞‡∏Ç‡πâ‡∏≠ ‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡πã‡∏≤‡∏à‡∏∞‡∏•‡∏≠‡∏á‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡∏£‡∏ß‡∏î‡πÄ‡∏î‡∏µ‡∏¢‡∏ß 10 ‡∏Ç‡πâ‡∏≠‡πÄ‡∏•‡∏¢‡∏î‡∏µ‡∏Ñ‡∏£‡∏±‡∏ö?

In [1]:
import pandas as pd
import numpy as np

data = {
    'Date': ['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-02', '2025-01-03', '2025-01-03', '2025-01-04', '2025-01-04'],
    'Product': ['Tea', 'Coffee', 'Tea', 'Bakery', 'Coffee', 'Bakery', 'Tea', 'Coffee'],
    'Sales_Amount': [1200, 1500, 900, 800, 1600, 750, 1100, 1400],
    'Quantity': [10, 12, 8, 5, 15, 7, 9, 11],
    'Region': ['North', 'North', 'South', 'South', 'North', 'South', 'North', 'South']
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
print("‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏ù‡∏∂‡∏Å‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!")

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏ù‡∏∂‡∏Å‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!

üìù ‡πÇ‡∏à‡∏ó‡∏¢‡πå 10 ‡∏Ç‡πâ‡∏≠ (‡∏ó‡πâ‡∏≤‡∏ó‡∏≤‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏à‡∏≥)
‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÅ‡∏•‡∏∞‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Selecting & Filtering)


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Product ‡πÅ‡∏•‡∏∞ Sales_Amount ‡∏≠‡∏≠‡∏Å‡∏°‡∏≤‡πÅ‡∏™‡∏î‡∏á

In [8]:
print(df[['Product', 'Sales_Amount']])

  Product  Sales_Amount
0     Tea          1200
1  Coffee          1500
2     Tea           900
3  Bakery           800
4  Coffee          1600
5  Bakery           750
6     Tea          1100
7  Coffee          1400

In [9]:
print(df)

        Date Product  Sales_Amount  Quantity Region
0 2025-01-01     Tea          1200        10  North
1 2025-01-01  Coffee          1500        12  North
2 2025-01-02     Tea           900         8  South
3 2025-01-02  Bakery           800         5  South
4 2025-01-03  Coffee          1600        15  North
5 2025-01-03  Bakery           750         7  South
6 2025-01-04     Tea          1100         9  North
7 2025-01-04  Coffee          1400        11  South


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏≤‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏Ç‡∏≤‡∏¢‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ 'Coffee' ‡πÑ‡∏î‡πâ‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô

In [10]:
filter_coffee = df[df['Product'] == 'Coffee']
print("\n‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ Coffee:")
print(filter_coffee)

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ Coffee:
        Date Product  Sales_Amount  Quantity Region
1 2025-01-01  Coffee          1500        12  North
4 2025-01-03  Coffee          1600        15  North
7 2025-01-04  Coffee          1400        11  South


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢ (Sales_Amount) ‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 1,200 ‡∏ö‡∏≤‡∏ó

In [14]:
sales_most = df[df['Sales_Amount'] > 1200]
print(sales_most)

        Date Product  Sales_Amount  Quantity Region
1 2025-01-01  Coffee          1500        12  North
4 2025-01-03  Coffee          1600        15  North
7 2025-01-04  Coffee          1400        11  South


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏Ç‡∏≤‡∏¢‡πÉ‡∏ô‡∏†‡∏π‡∏°‡∏¥‡∏†‡∏≤‡∏Ñ 'South' ‡πÅ‡∏•‡∏∞‡∏°‡∏µ‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢ ‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 1,000 ‡∏ö‡∏≤‡∏ó (‡πÉ‡∏ä‡πâ &)

In [24]:
grouped_by_region = df[(df['Region'] == 'South') & (df['Sales_Amount'] > 1000)] 
print(grouped_by_region)

        Date Product  Sales_Amount  Quantity Region
7 2025-01-04  Coffee          1400        11  South

In [25]:
df

        Date Product  Sales_Amount  Quantity Region
0 2025-01-01     Tea          1200        10  North
1 2025-01-01  Coffee          1500        12  North
2 2025-01-02     Tea           900         8  South
3 2025-01-02  Bakery           800         5  South
4 2025-01-03  Coffee          1600        15  North
5 2025-01-03  Bakery           750         7  South
6 2025-01-04     Tea          1100         9  North
7 2025-01-04  Coffee          1400        11  South


‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏•‡∏∏‡πà‡∏°‡πÅ‡∏•‡∏∞‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì (Grouping & Aggregation) 

5. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì ‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏£‡∏ß‡∏°‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î (Sales_Amount) ‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [29]:
sum_amount = df['Sales_Amount'].sum()
print(sum_amount)

9250

In [30]:
df

        Date Product  Sales_Amount  Quantity Region
0 2025-01-01     Tea          1200        10  North
1 2025-01-01  Coffee          1500        12  North
2 2025-01-02     Tea           900         8  South
3 2025-01-02  Bakery           800         5  South
4 2025-01-03  Coffee          1600        15  North
5 2025-01-03  Bakery           750         7  South
6 2025-01-04     Tea          1100         9  North
7 2025-01-04  Coffee          1400        11  South


6. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì ‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢ ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏° Product

In [35]:
sum_product = df.groupby(['Product'])['Sales_Amount'].mean()
sum_product

Product
Bakery     775.000000
Coffee    1500.000000
Tea       1066.666667
Name: Sales_Amount, dtype: float64

In [36]:
df

        Date Product  Sales_Amount  Quantity Region
0 2025-01-01     Tea          1200        10  North
1 2025-01-01  Coffee          1500        12  North
2 2025-01-02     Tea           900         8  South
3 2025-01-02  Bakery           800         5  South
4 2025-01-03  Coffee          1600        15  North
5 2025-01-03  Bakery           750         7  South
6 2025-01-04     Tea          1100         9  North
7 2025-01-04  Coffee          1400        11  South


7. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡∏ß‡πà‡∏≤‡πÅ‡∏ï‡πà‡∏•‡∏∞ Region ‡∏Ç‡∏≤‡∏¢‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡πÑ‡∏õ‡πÑ‡∏î‡πâ ‡∏Å‡∏µ‡πà‡∏ä‡∏¥‡πâ‡∏ô (‡∏£‡∏ß‡∏° Quantity)

In [68]:
count_product = df.groupby(['Region'])['Quantity'].sum()
count_product

Region
North    46
South    31
Name: Quantity, dtype: int64


 8. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ ‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏ó‡∏µ‡πà‡∏™‡∏π‡∏á‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î (Max) ‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡πÅ‡∏ú‡∏ô‡∏Å Region

In [46]:
max_region = df.groupby(['Region'])['Sales_Amount'].max()
max_region

Region
North    1600
South    1400
Name: Sales_Amount, dtype: int64


‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ï‡∏≤‡∏£‡∏≤‡∏á (Sorting & Inspecting) 
9. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏≤‡∏° Sales_Amount ‡∏à‡∏≤‡∏Å ‡∏°‡∏≤‡∏Å‡πÑ‡∏õ‡∏ô‡πâ‡∏≠‡∏¢

In [69]:
sorted_amount = df.sort_values('Sales_Amount', ascending=False)
sorted_amount

        Date Product  Sales_Amount  Quantity Region
4 2025-01-03  Coffee          1600        15  North
1 2025-01-01  Coffee          1500        12  North
7 2025-01-04  Coffee          1400        11  South
0 2025-01-01     Tea          1200        10  North
6 2025-01-04     Tea          1100         9  North
2 2025-01-02     Tea           900         8  South
3 2025-01-02  Bakery           800         5  South
5 2025-01-03  Bakery           750         7  South

10. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÅ‡∏™‡∏î‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 3 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [67]:
df.head(3)

        Date Product  Sales_Amount  Quantity Region
0 2025-01-01     Tea          1200        10  North
1 2025-01-01  Coffee          1500        12  North
2 2025-01-02     Tea           900         8  South