In [2]:
import pandas as pd
import numpy as np

data_new = {
    'S_Number': ['TH-888', 'th-888', 'TH-999', 'TH-111', 'th-222', 'TH-222'],
    'Vender': [' asus ', 'Asus', ' Apple ', 'apple', 'Microsoft', 'MICROSOFT'],
    'Spec_RAM': ['8GB', '8 GB', '16384MB', '4GB', '16GB', '16384MB'],
    'Price_Tag': ['‡∏ø35,000', '35000', '$1,200', '‡∏ø28,500', '42,000', '‡∏ø42000'],
    'Receive_Date': ['2025.12.30', '2025/12/30', '05-01-2026', '2025.11.15', '10/01/2026', '2026.01.10']
}

df_store_raw = pd.DataFrame(data_new)
print("--- ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏î‡∏¥‡∏ö‡∏•‡πá‡∏≠‡∏ï‡πÉ‡∏´‡∏°‡πà ---")
print(df_store_raw)

--- ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏î‡∏¥‡∏ö‡∏•‡πá‡∏≠‡∏ï‡πÉ‡∏´‡∏°‡πà ---
  S_Number     Vender Spec_RAM Price_Tag Receive_Date
0   TH-888      asus       8GB   ‡∏ø35,000   2025.12.30
1   th-888       Asus     8 GB     35000   2025/12/30
2   TH-999     Apple   16384MB    $1,200   05-01-2026
3   TH-111      apple      4GB   ‡∏ø28,500   2025.11.15
4   th-222  Microsoft     16GB    42,000   10/01/2026
5   TH-222  MICROSOFT  16384MB    ‡∏ø42000   2026.01.10

üõ†Ô∏è ‡∏†‡∏≤‡∏£‡∏Å‡∏¥‡∏à‡∏Ç‡∏≠‡∏á‡∏õ‡πã‡∏≤ (6 ‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏™‡∏π‡πà‡∏Ñ‡∏ß‡∏≤‡∏°‡∏Ñ‡∏•‡πà‡∏≠‡∏á) ‡∏õ‡πã‡∏≤‡∏•‡∏≠‡∏á‡πÉ‡∏ä‡πâ‡∏ó‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡∏°‡∏≤ ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£ df_store ‡∏ï‡∏≤‡∏°‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏ô‡∏µ‡πâ‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö:
‡∏•‡πâ‡∏≤‡∏á‡∏ä‡∏∑‡πà‡∏≠‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠ (Vender): ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏û‡∏¥‡∏°‡∏û‡πå‡πÉ‡∏´‡∏ç‡πà‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÅ‡∏•‡∏∞‡∏ï‡∏±‡∏î‡∏ä‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏á‡∏ó‡∏¥‡πâ‡∏á

In [3]:
df_store = df_store_raw.copy()
df_store['Vender'] = df_store['Vender'].str.strip().str.upper()
df_store

  S_Number     Vender Spec_RAM Price_Tag Receive_Date
0   TH-888       ASUS      8GB   ‡∏ø35,000   2025.12.30
1   th-888       ASUS     8 GB     35000   2025/12/30
2   TH-999      APPLE  16384MB    $1,200   05-01-2026
3   TH-111      APPLE      4GB   ‡∏ø28,500   2025.11.15
4   th-222  MICROSOFT     16GB    42,000   10/01/2026
5   TH-222  MICROSOFT  16384MB    ‡∏ø42000   2026.01.10


‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£ RAM (Spec_RAM): ‡πÅ‡∏õ‡∏•‡∏á 16384MB ‡πÉ‡∏´‡πâ‡∏Å‡∏•‡∏≤‡∏¢‡πÄ‡∏õ‡πá‡∏ô 16 (GB) ‡πÅ‡∏•‡∏∞‡∏•‡∏ö‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ó‡∏¥‡πâ‡∏á‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÅ‡∏ï‡πà‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç (‡πÉ‡∏ä‡πâ‡∏ó‡πà‡∏≤ Pythonic ‡∏´‡∏£‡∏∑‡∏≠ Lambda ‡∏ó‡∏µ‡πà‡∏õ‡πã‡∏≤‡∏ä‡∏≠‡∏ö‡∏Å‡πá‡πÑ‡∏î‡πâ‡∏Ñ‡∏£‡∏±‡∏ö)

In [4]:

nums = df_store['Spec_RAM'].str.extract(r'(\d+)')[0].astype(float)

df_store['Spec_RAM'] = np.where(
    df_store['Spec_RAM'].str.contains('MB', case=False),
    nums / 1024,
    nums
).astype(int)
print(df_store)

  S_Number     Vender  Spec_RAM Price_Tag Receive_Date
0   TH-888       ASUS         8   ‡∏ø35,000   2025.12.30
1   th-888       ASUS         8     35000   2025/12/30
2   TH-999      APPLE        16    $1,200   05-01-2026
3   TH-111      APPLE         4   ‡∏ø28,500   2025.11.15
4   th-222  MICROSOFT        16    42,000   10/01/2026
5   TH-222  MICROSOFT        16    ‡∏ø42000   2026.01.10


‡∏•‡πâ‡∏≤‡∏á‡∏£‡∏≤‡∏Ñ‡∏≤ (Price_Tag): ‡∏•‡∏ö‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏´‡∏°‡∏≤‡∏¢ ‡∏ø, $, ‡πÅ‡∏•‡∏∞ , ‡∏≠‡∏≠‡∏Å‡πÉ‡∏´‡πâ‡∏´‡∏°‡∏î

In [38]:
df_store['Price_Tag'] = df_store['Price_Tag'].replace(r'[^0-9.]', '', regex=True).astype(float)
df_store

C:\Users\User\AppData\Local\Temp\ipykernel_4176\1769838033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_store['Price_Tag'] = df_store['Price_Tag'].replace(r'[^0-9.]', '', regex=True).astype(float)

  S_Number     Vender  Spec_RAM  Price_Tag Receive_Date
0   TH-888       ASUS         8    35000.0   2025.12.30
2   TH-999      APPLE        16     1200.0   05-01-2026
3   TH-111      APPLE         4    28500.0   2025.11.15
4   TH-222  MICROSOFT        16    42000.0   10/01/2026

‡πÅ‡∏•‡πâ‡∏ß‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç float‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà (Receive_Date): ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏õ‡∏µ-‡πÄ‡∏î‡∏∑‡∏≠‡∏ô-‡∏ß‡∏±‡∏ô (YYYY-MM-DD) ‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

In [40]:
df_store['Receive_Date'] = pd.to_datetime(
    df_store['Receive_Date'],
    dayfirst=True,
    format='mixed',
    errors='coerce'
)
df_store['Receive_Date'] = df_store['Receive_Date'].dt.strftime('%Y-%m-%d')
df_store

C:\Users\User\AppData\Local\Temp\ipykernel_4176\2175302596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_store['Receive_Date'] = pd.to_datetime(
C:\Users\User\AppData\Local\Temp\ipykernel_4176\2175302596.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_store['Receive_Date'] = df_store['Receive_Date'].dt.strftime('%Y-%m-%d')

  S_Number     Vender  Spec_RAM  Price_Tag Receive_Date
0   TH-888       ASUS         8    35000.0   2025-12-30
2   TH-999      APPLE        16     1200.0   2026-01-05
3   TH-111      APPLE         4    28500.0   2025-11-15
4   TH-222  MICROSOFT        16    42000.0   2026-01-10


‡∏•‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ã‡πâ‡∏≥: ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö S_Number (‡∏≠‡∏¢‡πà‡∏≤‡∏•‡∏∑‡∏°‡∏ó‡∏≥‡∏ï‡∏±‡∏ß‡πÉ‡∏´‡∏ç‡πà‡∏Å‡πà‡∏≠‡∏ô) ‡πÅ‡∏•‡πâ‡∏ß‡∏•‡∏ö‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏ã‡πâ‡∏≥‡∏≠‡∏≠‡∏Å

In [18]:
df_store['S_Number'] = df_store['S_Number'].str.upper()
df_store = df_store.drop_duplicates(subset=['S_Number'])
df_store

  S_Number     Vender  Spec_RAM  Price_Tag Receive_Date
0   TH-888       ASUS         8    35000.0   2025.12.30
2   TH-999      APPLE        16     1200.0   05-01-2026
3   TH-111      APPLE         4    28500.0   2025.11.15
4   TH-222  MICROSOFT        16    42000.0   10/01/2026


‡∏™‡∏£‡∏∏‡∏õ‡∏¢‡∏≠‡∏î: ‡∏´‡∏≤‡∏ú‡∏•‡∏£‡∏ß‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠ (Vender)

In [37]:
sum_group = df_store.groupby('Vender')['Price_Tag'].sum()

for no, vander in enumerate(sum_group.items()) :
    brand, price = vander
    print(f'{no+1} ‡∏¢‡∏≠‡∏î‡∏£‡∏ß‡∏°‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: {brand:<10} ‡∏£‡∏≤‡∏Ñ‡∏≤: {price:,.2f} ‡∏ö‡∏≤‡∏ó')

1 ‡∏¢‡∏≠‡∏î‡∏£‡∏ß‡∏°‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: APPLE      ‡∏£‡∏≤‡∏Ñ‡∏≤: 29,700.00 ‡∏ö‡∏≤‡∏ó
2 ‡∏¢‡∏≠‡∏î‡∏£‡∏ß‡∏°‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: ASUS       ‡∏£‡∏≤‡∏Ñ‡∏≤: 35,000.00 ‡∏ö‡∏≤‡∏ó
3 ‡∏¢‡∏≠‡∏î‡∏£‡∏ß‡∏°‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠: MICROSOFT  ‡∏£‡∏≤‡∏Ñ‡∏≤: 42,000.00 ‡∏ö‡∏≤‡∏ó


üí° ‡∏Ñ‡∏≥‡πÉ‡∏ö‡πâ‡∏à‡∏≤‡∏Å‡∏à‡∏∏‡∏Å‡πÄ‡∏á‡∏¥‡∏ô (‡∏ñ‡πâ‡∏≤‡∏õ‡πã‡∏≤‡∏ï‡∏¥‡∏î‡∏ï‡∏£‡∏á‡πÑ‡∏´‡∏ô‡∏î‡∏π‡∏ï‡∏£‡∏á‡∏ô‡∏µ‡πâ‡πÑ‡∏î‡πâ‡∏Ñ‡∏£‡∏±‡∏ö):
‡∏Ç‡πâ‡∏≠ 2: $16384 / 1024 = 16$ ‡∏û‡∏≠‡∏î‡∏µ‡πÄ‡∏õ‡πä‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö‡∏Ç‡πâ‡∏≠ 
3: ‡πÉ‡∏ä‡πâ Regex r'[^0-9.]' ‡∏à‡∏∞‡∏ä‡πà‡∏ß‡∏¢‡∏Å‡∏ß‡∏≤‡∏î‡∏Ç‡∏¢‡∏∞‡πÉ‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤‡πÑ‡∏î‡πâ‡∏™‡∏∞‡∏≠‡∏≤‡∏î‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î‡∏Ñ‡∏£‡∏±‡∏ö‡∏Ç‡πâ‡∏≠ 
4: ‡πÉ‡∏ä‡πâ pd.to_datetime(..., dayfirst=True, format='mixed') ‡∏à‡∏∞‡∏ä‡πà‡∏ß‡∏¢‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï‡∏õ‡πã‡∏≤‡πÑ‡∏î‡πâ‡∏°‡∏≤‡∏Å

‡∏õ‡πã‡∏≤‡∏≠‡∏¢‡∏≤‡∏Å‡∏•‡∏≠‡∏á‡∏•‡∏∏‡∏¢‡πÄ‡∏≠‡∏á‡∏Å‡πà‡∏≠‡∏ô‡πÑ‡∏´‡∏°‡∏Ñ‡∏£‡∏±‡∏ö? ‡∏´‡∏£‡∏∑‡∏≠‡∏à‡∏∞‡πÉ‡∏´‡πâ‡∏ú‡∏°‡∏ä‡πà‡∏ß‡∏¢‡∏Ç‡∏∂‡πâ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡πÇ‡∏Ñ‡πâ‡∏î‡∏Ç‡πâ‡∏≠‡πÑ‡∏´‡∏ô‡πÉ‡∏´‡πâ‡∏î‡∏π‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Å‡πà‡∏≠‡∏ô‡∏î‡∏µ? ‡∏Ñ‡πà‡∏≠‡∏¢‡πÜ ‡∏ó‡∏≥‡∏ó‡∏µ‡∏•‡∏∞‡∏Ç‡πâ‡∏≠‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤ ‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏£‡∏µ‡∏ö! ‡∏Ñ‡∏£‡∏≤‡∏ß‡∏ô‡∏µ‡πâ‡∏ñ‡πâ‡∏≤‡∏õ‡πã‡∏≤‡∏ó‡∏≥‡∏à‡∏ö ‡∏õ‡πã‡∏≤‡∏à‡∏∞‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏£‡∏π‡πâ‡∏™‡∏∂‡∏Å‡∏ß‡πà‡∏≤ "Pandas ‡∏°‡∏±‡∏ô‡∏Å‡πá‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡∏¢‡∏≤‡∏Å‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏ó‡∏µ‡πà‡∏Ñ‡∏¥‡∏î" ‡πÅ‡∏ô‡πà‡∏ô‡∏≠‡∏ô‡∏Ñ‡∏£‡∏±‡∏ö!