In [1]:
import pandas as pd
import numpy as np

data = {
    'Date': ['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-02', '2025-01-03', '2025-01-03', '2025-01-04'],
    'Product': ['Tea', 'Coffee', 'Tea', 'Bakery', 'Coffee', 'Bakery', 'Tea'],
    'Sales_Amount': [1200, 1500, np.nan, 800, 1600, 750, 1100],
    'Quantity': [10, 12, 8, np.nan, 15, 7, 9],
    'Region': ['North', 'North', 'South', 'South', 'North', 'South', 'North']
}

df_sales = pd.DataFrame(data)
# ‡πÅ‡∏õ‡∏•‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Date ‡∏à‡∏≤‡∏Å‡∏Ç‡πâ‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏à‡∏£‡∏¥‡∏á
df_sales['Date'] = pd.to_datetime(df_sales['Date'])
print("‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢ (‡∏û‡∏ö‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡∏ö‡∏≤‡∏á‡∏à‡∏∏‡∏î):")
print(df_sales)

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢ (‡∏û‡∏ö‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡∏ö‡∏≤‡∏á‡∏à‡∏∏‡∏î):
        Date Product  Sales_Amount  Quantity Region
0 2025-01-01     Tea        1200.0      10.0  North
1 2025-01-01  Coffee        1500.0      12.0  North
2 2025-01-02     Tea           NaN       8.0  South
3 2025-01-02  Bakery         800.0       NaN  South
4 2025-01-03  Coffee        1600.0      15.0  North
5 2025-01-03  Bakery         750.0       7.0  South
6 2025-01-04     Tea        1100.0       9.0  North

üìù ‡πÇ‡∏à‡∏ó‡∏¢‡πå‡πÅ‡∏ö‡∏ö‡∏ù‡∏∂‡∏Å‡∏´‡∏±‡∏î (Level Up)
Level 4: ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£ Data Cleaning

‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÑ‡∏´‡∏ô‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á (NaN) ‡∏ö‡πâ‡∏≤‡∏á ‡πÅ‡∏•‡∏∞‡∏°‡∏µ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÄ‡∏ó‡πà‡∏≤‡πÑ‡∏´‡∏£‡πà

In [31]:
count_na = df_sales.isnull().sum()
print("\n‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå:")
print(count_na)

‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå:
Date            0
Product         0
Sales_Amount    1
Quantity        1
Region          0
dtype: int64


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Sales_Amount ‡∏î‡πâ‡∏ß‡∏¢ ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢ (Mean) ‡∏Ç‡∏≠‡∏á‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

In [13]:
inserted_na = df_sales.fillna({
    'Sales_Amount': df_sales['Sales_Amount'].mean(),
    'Quantity': df_sales['Quantity'].mean()
})
print("\n‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢:")
print(inserted_na)

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢:
        Date Product  Sales_Amount   Quantity Region
0 2025-01-01     Tea   1200.000000  10.000000  North
1 2025-01-01  Coffee   1500.000000  12.000000  North
2 2025-01-02     Tea   1158.333333   8.000000  South
3 2025-01-02  Bakery    800.000000  10.166667  South
4 2025-01-03  Coffee   1600.000000  15.000000  North
5 2025-01-03  Bakery    750.000000   7.000000  South
6 2025-01-04     Tea   1100.000000   9.000000  North

In [32]:
mean_salary = df_sales['Sales_Amount'].mean()
df_sales['Sales_Amount'] = df_sales['Sales_Amount'].fillna(mean_salary)
print("\n‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô Sales_Amount ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢:")
print(df_sales)

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏ô Sales_Amount ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢:
        Date Product  Sales_Amount  Quantity Region
0 2025-01-01     Tea   1200.000000      10.0  North
1 2025-01-01  Coffee   1500.000000      12.0  North
2 2025-01-02     Tea   1158.333333       8.0  South
3 2025-01-02  Bakery    800.000000       NaN  South
4 2025-01-03  Coffee   1600.000000      15.0  North
5 2025-01-03  Bakery    750.000000       7.0  South
6 2025-01-04     Tea   1100.000000       9.0  North


Level 5: ‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡πÄ‡∏ä‡∏¥‡∏á‡∏•‡∏∂‡∏Å (Grouping & Filtering)
‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏à‡∏á‡∏´‡∏≤‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏£‡∏ß‡∏° (Sales_Amount) ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡πÅ‡∏ï‡πà‡∏•‡∏∞ Region

In [20]:
grouped_sales = df_sales.groupby(['Region'])['Sales_Amount'].sum()
print("\n‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏°‡∏†‡∏π‡∏°‡∏¥‡∏†‡∏≤‡∏Ñ:")
print(grouped_sales)

‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏°‡∏†‡∏π‡∏°‡∏¥‡∏†‡∏≤‡∏Ñ:
Region
North    5400.0
South    1550.0
Name: Sales_Amount, dtype: float64


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏≠‡∏¢‡∏≤‡∏Å‡∏£‡∏π‡πâ‡∏ß‡πà‡∏≤‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞ Region ‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢ Product ‡∏≠‡∏∞‡πÑ‡∏£‡πÑ‡∏õ‡∏ö‡πâ‡∏≤‡∏á (‡πÉ‡∏´‡πâ‡πÅ‡∏™‡∏î‡∏á‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡πÅ‡∏ö‡∏ö‡πÑ‡∏°‡πà‡∏ã‡πâ‡∏≥)

In [35]:
products_per_region = df_sales.groupby('Region')['Product'].unique()
print("\n‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏ó‡∏µ‡πà‡∏Ç‡∏≤‡∏¢‡πÑ‡∏î‡πâ‡∏ï‡∏≤‡∏°‡∏†‡∏π‡∏°‡∏¥‡∏†‡∏≤‡∏Ñ:")
print(products_per_region)

‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏ó‡∏µ‡πà‡∏Ç‡∏≤‡∏¢‡πÑ‡∏î‡πâ‡∏ï‡∏≤‡∏°‡∏†‡∏π‡∏°‡∏¥‡∏†‡∏≤‡∏Ñ:
Region
North    [Tea, Coffee]
South    [Tea, Bakery]
Name: Product, dtype: object


Level 6: ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà (DateTime)
‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ä‡∏∑‡πà‡∏≠ Day_Name ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ö‡∏≠‡∏Å‡∏ß‡πà‡∏≤‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ô‡∏±‡πâ‡∏ô‡πÜ ‡∏Ñ‡∏∑‡∏≠‡∏ß‡∏±‡∏ô‡∏≠‡∏∞‡πÑ‡∏£ (‡πÄ‡∏ä‡πà‡∏ô Monday, Tuesday)

In [34]:
df_sales['Day_Name'] = df_sales['Date'].dt.day_name()
print("\n‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ß‡∏±‡∏ô‡πÉ‡∏ô‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå:")
print(df_sales[['Date', 'Day_Name', 'Product', 'Sales_Amount']])

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ß‡∏±‡∏ô‡πÉ‡∏ô‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå:
        Date   Day_Name Product  Sales_Amount
0 2025-01-01  Wednesday     Tea   1200.000000
1 2025-01-01  Wednesday  Coffee   1500.000000
2 2025-01-02   Thursday     Tea   1158.333333
3 2025-01-02   Thursday  Bakery    800.000000
4 2025-01-03     Friday  Coffee   1600.000000
5 2025-01-03     Friday  Bakery    750.000000
6 2025-01-04   Saturday     Tea   1100.000000