üõ†Ô∏è ‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏ó‡∏µ‡πà 1: ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏ä‡∏∏‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• IT Ticket
‡∏Å‡πä‡∏≠‡∏õ‡∏õ‡∏µ‡πâ‡πÇ‡∏Ñ‡πâ‡∏î‡∏ô‡∏µ‡πâ‡πÑ‡∏õ‡∏ß‡∏≤‡∏á‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á DataFrame ‡∏ï‡∏±‡∏ß‡πÉ‡∏´‡∏°‡πà‡πÑ‡∏î‡πâ‡πÄ‡∏•‡∏¢‡∏Ñ‡∏£‡∏±‡∏ö

In [1]:
import pandas as pd
import numpy as np
it_data = {
    'Ticket_ID': ['T01', 'T02', 'T03', 'T04', 'T05', 'T06', 'T07', 'T08', 'T09', 'T10'],
    'User': ['Somsak', 'Malee', 'Wichai', 'Suda', 'Mana', 'Veena', 'Piti', 'Somchai', 'Somsak', 'Mana'],
    'Category': ['Hardware', 'Software', 'Network', 'Hardware', 'Software', 'Network', 'Software', 'Hardware', 'Network', 'Hardware'],
    'Priority': ['High', 'Low', 'Medium', 'Medium', 'High', 'Low', 'Low', 'High', 'Medium', 'Low'],
    'Repair_Time_Hrs': [5, 2, 4, 6, 1, 3, 2, 8, 5, 3],
    'Cost': [1500, 0, 500, 2500, 0, 300, 0, 4500, 800, 1200]
}

df_it = pd.DataFrame(it_data)
print("‡∏£‡∏∞‡∏ö‡∏ö‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏á‡∏≤‡∏ô IT Support ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!")

‡∏£‡∏∞‡∏ö‡∏ö‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏á‡∏≤‡∏ô IT Support ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!

üìù ‡πÇ‡∏à‡∏ó‡∏¢‡πå 10 ‡∏Ç‡πâ‡∏≠ (‡∏ä‡∏∏‡∏î IT Ticket)
‡∏•‡∏≠‡∏á‡∏ù‡∏∂‡∏Å‡πÉ‡∏ä‡πâ‡∏Ñ‡∏≥‡∏™‡∏±‡πà‡∏á‡πÄ‡∏î‡∏¥‡∏° ‡πÅ‡∏ï‡πà‡∏£‡∏∞‡∏ß‡∏±‡∏á‡∏à‡∏∏‡∏î‡∏ó‡∏µ‡πà‡πÄ‡∏Ñ‡∏¢‡∏ú‡∏¥‡∏î‡∏Ñ‡∏£‡∏≤‡∏ß‡∏ó‡∏µ‡πà‡πÅ‡∏•‡πâ‡∏ß‡∏î‡πâ‡∏ß‡∏¢‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö

‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡πÄ‡∏•‡∏∑‡∏≠‡∏Å (Filter & Select)

‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏î‡∏π‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå User, Category ‡πÅ‡∏•‡∏∞ Priority

In [2]:
print(df_it[['User', 'Category', 'Priority']])

      User  Category Priority
0   Somsak  Hardware     High
1    Malee  Software      Low
2   Wichai   Network   Medium
3     Suda  Hardware   Medium
4     Mana  Software     High
5    Veena   Network      Low
6     Piti  Software      Low
7  Somchai  Hardware     High
8   Somsak   Network   Medium
9     Mana  Hardware      Low


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏Å‡∏£‡∏≠‡∏á‡∏´‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏á‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏´‡∏°‡∏ß‡∏î‡∏´‡∏°‡∏π‡πà 'Hardware'

In [5]:
hardware = df_it[df_it['Category'] == 'Hardware']
print(hardware)

  Ticket_ID     User  Category Priority  Repair_Time_Hrs  Cost
0       T01   Somsak  Hardware     High                5  1500
3       T04     Suda  Hardware   Medium                6  2500
7       T08  Somchai  Hardware     High                8  4500
9       T10     Mana  Hardware      Low                3  1200


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡πÄ‡∏Ñ‡∏™‡∏ó‡∏µ‡πà‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç‡πÄ‡∏õ‡πá‡∏ô 'High' ‡πÅ‡∏•‡∏∞‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏ã‡πà‡∏≠‡∏° (Cost) ‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 0 ‡∏ö‡∏≤‡∏ó

In [6]:
priority_high = df_it[(df_it['Priority'] == 'High') & (df_it['Cost'] > 0)]
print(priority_high)

  Ticket_ID     User  Category Priority  Repair_Time_Hrs  Cost
0       T01   Somsak  Hardware     High                5  1500
7       T08  Somchai  Hardware     High                8  4500


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡πÄ‡∏Ñ‡∏™‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ‡πÄ‡∏ß‡∏•‡∏≤‡∏ã‡πà‡∏≠‡∏° (Repair_Time_Hrs) ‡∏ô‡πâ‡∏≠‡∏¢‡∏Å‡∏ß‡πà‡∏≤‡∏´‡∏£‡∏∑‡∏≠‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 3 ‡∏ä‡∏±‡πà‡∏ß‡πÇ‡∏°‡∏á

In [24]:
time_3mort = df_it[df_it['Repair_Time_Hrs'] <= 3]
time_3mort

  Ticket_ID   User  Category Priority  Repair_Time_Hrs  Cost
1       T02  Malee  Software      Low                2     0
4       T05   Mana  Software     High                1     0
5       T06  Veena   Network      Low                3   300
6       T07   Piti  Software      Low                2     0
9       T10   Mana  Hardware      Low                3  1200


‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏•‡∏∏‡πà‡∏°‡πÅ‡∏•‡∏∞‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì (Group & Aggregate) 

5. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤ ‡∏Ñ‡πà‡∏≤‡∏ã‡πà‡∏≠‡∏°‡∏£‡∏ß‡∏°‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î (Cost) ‡∏ó‡∏µ‡πà‡∏ö‡∏£‡∏¥‡∏©‡∏±‡∏ó‡∏ï‡πâ‡∏≠‡∏á‡∏à‡πà‡∏≤‡∏¢‡πÉ‡∏ô‡∏£‡∏≠‡∏ö‡∏ô‡∏µ‡πâ

In [11]:
cost_amout = df_it['Cost'].sum()
print(cost_amout)

11300


6. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤ ‡πÄ‡∏ß‡∏•‡∏≤‡∏ã‡πà‡∏≠‡∏°‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢ ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç (Priority)

In [14]:
df_it

  Ticket_ID     User  Category Priority  Repair_Time_Hrs  Cost
0       T01   Somsak  Hardware     High                5  1500
1       T02    Malee  Software      Low                2     0
2       T03   Wichai   Network   Medium                4   500
3       T04     Suda  Hardware   Medium                6  2500
4       T05     Mana  Software     High                1     0
5       T06    Veena   Network      Low                3   300
6       T07     Piti  Software      Low                2     0
7       T08  Somchai  Hardware     High                8  4500
8       T09   Somsak   Network   Medium                5   800
9       T10     Mana  Hardware      Low                3  1200

In [13]:
avg_repair = df_it.groupby('Priority')['Repair_Time_Hrs'].mean()
avg_repair

Priority
High      4.666667
Low       2.500000
Medium    5.000000
Name: Repair_Time_Hrs, dtype: float64


7. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡∏ß‡πà‡∏≤‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏´‡∏°‡∏ß‡∏î‡∏´‡∏°‡∏π‡πà (Category) ‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡πÅ‡∏à‡πâ‡∏á‡∏ã‡πà‡∏≠‡∏°‡πÄ‡∏Ç‡πâ‡∏≤‡∏°‡∏≤‡∏Å‡∏µ‡πà Ticket (‡πÉ‡∏ä‡πâ .count())

In [17]:
category_ticket = df_it.groupby('Category')['Ticket_ID'].count()
category_ticket

Category
Hardware    4
Network     3
Software    3
Name: Ticket_ID, dtype: int64

8. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤ ‡∏Ñ‡πà‡∏≤‡∏ã‡πà‡∏≠‡∏°‡∏ó‡∏µ‡πà‡πÅ‡∏û‡∏á‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î (Max) ‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡πÅ‡∏ú‡∏ô‡∏Å Category

In [19]:
df_it

  Ticket_ID     User  Category Priority  Repair_Time_Hrs  Cost
0       T01   Somsak  Hardware     High                5  1500
1       T02    Malee  Software      Low                2     0
2       T03   Wichai   Network   Medium                4   500
3       T04     Suda  Hardware   Medium                6  2500
4       T05     Mana  Software     High                1     0
5       T06    Veena   Network      Low                3   300
6       T07     Piti  Software      Low                2     0
7       T08  Somchai  Hardware     High                8  4500
8       T09   Somsak   Network   Medium                5   800
9       T10     Mana  Hardware      Low                3  1200

In [21]:
max_caes = df_it.groupby('Category')['Cost'].max()
max_caes

Category
Hardware    4500
Network      800
Software       0
Name: Cost, dtype: int64


‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ï‡∏≤‡∏£‡∏≤‡∏á (Sort & View) 

9. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏≤‡∏° ‡πÄ‡∏ß‡∏•‡∏≤‡∏ã‡πà‡∏≠‡∏° (Repair_Time_Hrs) ‡∏à‡∏≤‡∏Å ‡∏°‡∏≤‡∏Å‡πÑ‡∏õ‡∏ô‡πâ‡∏≠‡∏¢ (‡∏≠‡∏¢‡πà‡∏≤‡∏•‡∏∑‡∏° ascending=False ‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤)

In [22]:
print(df_it.sort_values('Repair_Time_Hrs', ascending=False))

  Ticket_ID     User  Category Priority  Repair_Time_Hrs  Cost
7       T08  Somchai  Hardware     High                8  4500
3       T04     Suda  Hardware   Medium                6  2500
0       T01   Somsak  Hardware     High                5  1500
8       T09   Somsak   Network   Medium                5   800
2       T03   Wichai   Network   Medium                4   500
5       T06    Veena   Network      Low                3   300
9       T10     Mana  Hardware      Low                3  1200
1       T02    Malee  Software      Low                2     0
6       T07     Piti  Software      Low                2     0
4       T05     Mana  Software     High                1     0



10. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÅ‡∏™‡∏î‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 5 ‡πÅ‡∏ñ‡∏ß‡∏™‡∏∏‡∏î‡∏ó‡πâ‡∏≤‡∏¢ ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á (‡πÉ‡∏ö‡πâ‡πÉ‡∏´‡πâ‡∏ß‡πà‡∏≤‡∏ï‡∏£‡∏á‡∏Ç‡πâ‡∏≤‡∏°‡∏Å‡∏±‡∏ö .head() ‡∏Ñ‡∏∑‡∏≠ .tail())

In [23]:
print(df_it.tail())

  Ticket_ID     User  Category Priority  Repair_Time_Hrs  Cost
5       T06    Veena   Network      Low                3   300
6       T07     Piti  Software      Low                2     0
7       T08  Somchai  Hardware     High                8  4500
8       T09   Somsak   Network   Medium                5   800
9       T10     Mana  Hardware      Low                3  1200