üõ†Ô∏è ‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏ó‡∏µ‡πà 1: ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏ä‡∏∏‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Advanced IT Ticket)
‡∏£‡∏±‡∏ô‡πÇ‡∏Ñ‡πâ‡∏î‡∏ô‡∏µ‡πâ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏•‡∏≤‡∏Å‡∏´‡∏•‡∏≤‡∏¢‡∏°‡∏≤‡∏Å‡∏Ç‡∏∂‡πâ‡∏ô‡∏Ñ‡∏£‡∏±‡∏ö

In [1]:
import pandas as pd
import numpy as np

adv_it_data = {
    'Ticket_ID': ['T01', 'T02', 'T03', 'T04', 'T05', 'T06', 'T07', 'T08', 'T09', 'T10', 'T11', 'T12'],
    'User': ['Somsak.K', 'Malee.S', 'Wichai.P', 'Suda.T', 'Mana.R', 'Veena.W', 'Piti.M', 'Somchai.L', 'Somsak.K', 'Mana.R', 'Anan.B', 'Siri.C'],
    'Category': ['Hardware', 'Software', 'Network', 'Hardware', 'Software', 'Network', 'Software', 'Hardware', 'Network', 'Hardware', 'Software', 'Software'],
    'Status': ['Closed', 'Closed', 'Open', 'Closed', 'Open', 'Closed', 'Closed', 'Open', 'Closed', 'Closed', 'Open', 'Closed'],
    'Priority': ['High', 'Low', 'Medium', 'Medium', 'High', 'Low', 'Low', 'High', 'Medium', 'Low', 'High', 'Medium'],
    'Repair_Time_Hrs': [5, 2, 4, 6, 1, 3, 2, 8, 5, 3, 10, 4],
    'Cost': [1500, 0, 500, 2500, 0, 300, 0, 4500, 800, 1200, 0, 150]
}

df_adv = pd.DataFrame(adv_it_data)
print("‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ä‡∏∏‡∏î‡πÅ‡∏≠‡∏î‡∏ß‡∏≤‡∏ô‡∏ã‡πå‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!")

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ä‡∏∏‡∏î‡πÅ‡∏≠‡∏î‡∏ß‡∏≤‡∏ô‡∏ã‡πå‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏£‡∏±‡∏ö‡∏õ‡πã‡∏≤!

üìù ‡πÇ‡∏à‡∏ó‡∏¢‡πå 10 ‡∏Ç‡πâ‡∏≠ (‡∏â‡∏ö‡∏±‡∏ö‡∏≠‡∏±‡∏õ‡πÄ‡∏Å‡∏£‡∏î)
‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡∏±‡πâ‡∏ô‡∏™‡∏π‡∏á (Advanced Filtering)

‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏Å‡∏£‡∏≠‡∏á‡∏´‡∏≤‡πÄ‡∏Ñ‡∏™‡∏ó‡∏µ‡πà‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞‡∏¢‡∏±‡∏á 'Open' ‡πÅ‡∏•‡∏∞‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç‡πÄ‡∏õ‡πá‡∏ô 'High' ‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô

In [2]:
df_adv

   Ticket_ID       User  Category  Status Priority  Repair_Time_Hrs  Cost
0        T01   Somsak.K  Hardware  Closed     High                5  1500
1        T02    Malee.S  Software  Closed      Low                2     0
2        T03   Wichai.P   Network    Open   Medium                4   500
3        T04     Suda.T  Hardware  Closed   Medium                6  2500
4        T05     Mana.R  Software    Open     High                1     0
5        T06    Veena.W   Network  Closed      Low                3   300
6        T07     Piti.M  Software  Closed      Low                2     0
7        T08  Somchai.L  Hardware    Open     High                8  4500
8        T09   Somsak.K   Network  Closed   Medium                5   800
9        T10     Mana.R  Hardware  Closed      Low                3  1200
10       T11     Anan.B  Software    Open     High               10     0
11       T12     Siri.C  Software  Closed   Medium                4   150

In [4]:
open_status = df_adv[(df_adv['Status'] == 'Open') & (df_adv['Priority'] == 'High')]
open_status

   Ticket_ID       User  Category Status Priority  Repair_Time_Hrs  Cost
4        T05     Mana.R  Software   Open     High                1     0
7        T08  Somchai.L  Hardware   Open     High                8  4500
10       T11     Anan.B  Software   Open     High               10     0


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡πÄ‡∏Ñ‡∏™‡∏ó‡∏µ‡πà‡∏Ñ‡πà‡∏≤‡∏ã‡πà‡∏≠‡∏° (Cost) ‡∏≠‡∏¢‡∏π‡πà‡∏£‡∏∞‡∏´‡∏ß‡πà‡∏≤‡∏á 500 ‡∏ñ‡∏∂‡∏á 2,000 ‡∏ö‡∏≤‡∏ó (‡∏Ñ‡∏≥‡πÉ‡∏ö‡πâ: ‡πÉ‡∏ä‡πâ (‡πÄ‡∏á‡∏∑‡πà‡∏≠‡∏ô‡πÑ‡∏Ç1) & (‡πÄ‡∏á‡∏∑‡πà‡∏≠‡∏ô‡πÑ‡∏Ç2))

In [5]:
cost_500 = df_adv[(df_adv['Cost'] > 500) & (df_adv['Cost'] < 2000)]
cost_500

  Ticket_ID      User  Category  Status Priority  Repair_Time_Hrs  Cost
0       T01  Somsak.K  Hardware  Closed     High                5  1500
8       T09  Somsak.K   Network  Closed   Medium                5   800
9       T10    Mana.R  Hardware  Closed      Low                3  1200


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡πÄ‡∏Ñ‡∏™‡∏ó‡∏µ‡πà‡∏ä‡∏∑‡πà‡∏≠‡∏ú‡∏π‡πâ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô (User) ‡∏•‡∏á‡∏ó‡πâ‡∏≤‡∏¢‡∏î‡πâ‡∏ß‡∏¢ '.K' (‡∏Ñ‡∏≥‡πÉ‡∏ö‡πâ: ‡πÉ‡∏ä‡πâ .str.endswith('.K'))

In [6]:
user_k = df_adv[df_adv['User'].str.endswith('.K')]
user_k

  Ticket_ID      User  Category  Status Priority  Repair_Time_Hrs  Cost
0       T01  Somsak.K  Hardware  Closed     High                5  1500
8       T09  Somsak.K   Network  Closed   Medium                5   800


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡πÄ‡∏Ñ‡∏™‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ‡πÄ‡∏ß‡∏•‡∏≤‡∏ã‡πà‡∏≠‡∏° ‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢ ‡∏Ç‡∏≠‡∏á‡πÄ‡∏ß‡∏•‡∏≤‡∏ã‡πà‡∏≠‡∏°‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [15]:
mean_repair = df_adv['Repair_Time_Hrs'].mean()
print(mean_repair)
up_mean = df_adv[df_adv['Repair_Time_Hrs'] > mean_repair]
up_mean

4.416666666666667

   Ticket_ID       User  Category  Status Priority  Repair_Time_Hrs  Cost
0        T01   Somsak.K  Hardware  Closed     High                5  1500
3        T04     Suda.T  Hardware  Closed   Medium                6  2500
7        T08  Somchai.L  Hardware    Open     High                8  4500
8        T09   Somsak.K   Network  Closed   Medium                5   800
10       T11     Anan.B  Software    Open     High               10     0


‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡πÅ‡∏•‡∏∞‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏• (Deep Aggregation) 

5. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤ ‡∏¢‡∏≠‡∏î‡∏£‡∏ß‡∏°‡∏Ñ‡πà‡∏≤‡∏ã‡πà‡∏≠‡∏°‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏° Status (‡∏≠‡∏¢‡∏≤‡∏Å‡∏£‡∏π‡πâ‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏õ‡∏¥‡∏î‡∏á‡∏≤‡∏ô‡πÑ‡∏õ‡πÅ‡∏•‡πâ‡∏ß‡πÄ‡∏™‡∏µ‡∏¢‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏ó‡πà‡∏≤‡πÑ‡∏´‡∏£‡πà ‡∏ó‡∏µ‡πà‡∏¢‡∏±‡∏á‡πÄ‡∏õ‡∏¥‡∏î‡∏≠‡∏¢‡∏π‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏à‡πà‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡πÄ‡∏ó‡πà‡∏≤‡πÑ‡∏´‡∏£‡πà)

In [ ]:
# ‡πÅ‡∏ö‡∏ö‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤ ‡πÑ‡∏°‡πà‡πÇ‡∏õ‡∏£
pay_closed = df_adv[(df_adv['Status'] == 'Closed')]['Cost'].sum()
print(pay_closed)
pay_Open = df_adv[df_adv['Status'] == 'Open']['Cost'].sum()
print(pay_Open)

6450
5000

In [39]:
# ‡πÅ‡∏ö‡∏ö‡πÇ‡∏õ‡∏£
pay_cost = df_adv.groupby('Status')['Cost'].sum()
pay_cost

Status
Closed    6450
Open      5000
Name: Cost, dtype: int64

In [20]:
df_adv

   Ticket_ID       User  Category  Status Priority  Repair_Time_Hrs  Cost
0        T01   Somsak.K  Hardware  Closed     High                5  1500
1        T02    Malee.S  Software  Closed      Low                2     0
2        T03   Wichai.P   Network    Open   Medium                4   500
3        T04     Suda.T  Hardware  Closed   Medium                6  2500
4        T05     Mana.R  Software    Open     High                1     0
5        T06    Veena.W   Network  Closed      Low                3   300
6        T07     Piti.M  Software  Closed      Low                2     0
7        T08  Somchai.L  Hardware    Open     High                8  4500
8        T09   Somsak.K   Network  Closed   Medium                5   800
9        T10     Mana.R  Hardware  Closed      Low                3  1200
10       T11     Anan.B  Software    Open     High               10     0
11       T12     Siri.C  Software  Closed   Medium                4   150


6. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏†‡∏π‡∏°‡∏¥‡∏†‡∏≤‡∏Ñ (‡πÄ‡∏≠‡∏≤‡πÄ‡∏õ‡πá‡∏ô Category ‡πÅ‡∏ó‡∏ô) ‡πÉ‡∏´‡πâ‡∏´‡∏≤‡∏ó‡∏±‡πâ‡∏á ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢ ‡πÅ‡∏•‡∏∞ ‡∏Ñ‡πà‡∏≤‡∏£‡∏ß‡∏° ‡∏Ç‡∏≠‡∏á Repair_Time_Hrs ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏Å‡∏±‡∏ô (‡∏Ñ‡∏≥‡πÉ‡∏ö‡πâ: ‡πÉ‡∏ä‡πâ .agg(['mean', 'sum']))

In [24]:
region_sum = df_adv.groupby(['Category'])['Repair_Time_Hrs'].agg(['mean', 'sum'])
region_sum

          mean  sum
Category
Hardware   5.5   22
Network    4.0   12
Software   3.8   19


7. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏´‡∏≤‡∏ß‡πà‡∏≤‡∏°‡∏µ User ‡∏Å‡∏µ‡πà‡∏Ñ‡∏ô‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô ‡∏ó‡∏µ‡πà‡∏°‡∏≤‡πÅ‡∏à‡πâ‡∏á‡∏ã‡πà‡∏≠‡∏° (‡πÉ‡∏ä‡πâ .nunique())

In [27]:
user_nunique = df_adv['User'].nunique()
user_nunique

10

8. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡∏°‡πà‡∏ä‡∏∑‡πà‡∏≠ Is_Expensive ‡πÇ‡∏î‡∏¢‡∏ñ‡πâ‡∏≤ Cost ‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 1,000 ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô True ‡∏ñ‡πâ‡∏≤‡πÑ‡∏°‡πà‡πÉ‡∏ä‡πà‡πÄ‡∏õ‡πá‡∏ô False (‡∏Ñ‡∏≥‡πÉ‡∏ö‡πâ: df['Is_Expensive'] = df['Cost'] > 1000)

In [28]:
df_adv['Is_Expensive'] = df_adv['Cost'] > 1000
df_adv

,Ticket_ID,User,Category,Status,Priority,Repair_Time_Hrs,Cost,Is_Expensive
0,T01,Somsak.K,Hardware,Closed,High,5,1500,True
1,T02,Malee.S,Software,Closed,Low,2,0,False
2,T03,Wichai.P,Network,Open,Medium,4,500,False
3,T04,Suda.T,Hardware,Closed,Medium,6,2500,True
4,T05,Mana.R,Software,Open,High,1,0,False
5,T06,Veena.W,Network,Closed,Low,3,300,False
6,T07,Piti.M,Software,Closed,Low,2,0,False
7,T08,Somchai.L,Hardware,Open,High,8,4500,True
8,T09,Somsak.K,Network,Closed,Medium,5,800,False
9,T10,Mana.R,Hardware,Closed,Low,3,1200,True
10,T11,Anan.B,Software,Open,High,10,0,False
11,T12,Siri.C,Software,Closed,Medium,4,150,False


‡∏´‡∏°‡∏ß‡∏î: ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö (Complex Sorting) 

9. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÇ‡∏î‡∏¢‡πÉ‡∏´‡πâ Status ‡∏°‡∏≤‡∏Å‡πà‡∏≠‡∏ô (‡∏à‡∏≤‡∏Å A-Z) ‡πÅ‡∏•‡∏∞‡∏ñ‡πâ‡∏≤ Status ‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô ‡πÉ‡∏´‡πâ‡πÄ‡∏£‡∏µ‡∏¢‡∏á Cost ‡∏à‡∏≤‡∏Å ‡∏°‡∏≤‡∏Å‡πÑ‡∏õ‡∏ô‡πâ‡∏≠‡∏¢

In [36]:
df_adv_sort = df_adv.sort_values(by=['Status', 'Cost'], ascending=[True, False])
df_adv_sort

,Ticket_ID,User,Category,Status,Priority,Repair_Time_Hrs,Cost,Is_Expensive
3,T04,Suda.T,Hardware,Closed,Medium,6,2500,True
0,T01,Somsak.K,Hardware,Closed,High,5,1500,True
9,T10,Mana.R,Hardware,Closed,Low,3,1200,True
8,T09,Somsak.K,Network,Closed,Medium,5,800,False
5,T06,Veena.W,Network,Closed,Low,3,300,False
11,T12,Siri.C,Software,Closed,Medium,4,150,False
1,T02,Malee.S,Software,Closed,Low,2,0,False
6,T07,Piti.M,Software,Closed,Low,2,0,False
7,T08,Somchai.L,Hardware,Open,High,8,4500,True
2,T03,Wichai.P,Network,Open,Medium,4,500,False
4,T05,Mana.R,Software,Open,High,1,0,False
10,T11,Anan.B,Software,Open,High,10,0,False


10. ‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÄ‡∏â‡∏û‡∏≤‡∏∞ 5 ‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ ‡∏Ñ‡πà‡∏≤‡∏ã‡πà‡∏≠‡∏° (Cost) ‡∏™‡∏π‡∏á‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î ‡∏≠‡∏≠‡∏Å‡∏°‡∏≤‡πÅ‡∏™‡∏î‡∏á (‡∏Ñ‡∏≥‡πÉ‡∏ö‡πâ: ‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏Å‡πà‡∏≠‡∏ô‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡πà‡∏≠‡∏¢‡πÉ‡∏ä‡πâ .head())

In [37]:
max_5_cost = df_adv.sort_values('Cost', ascending=False)
max_5_cost.head(5)

,Ticket_ID,User,Category,Status,Priority,Repair_Time_Hrs,Cost,Is_Expensive
7,T08,Somchai.L,Hardware,Open,High,8,4500,True
3,T04,Suda.T,Hardware,Closed,Medium,6,2500,True
0,T01,Somsak.K,Hardware,Closed,High,5,1500,True
9,T10,Mana.R,Hardware,Closed,Low,3,1200,True
8,T09,Somsak.K,Network,Closed,Medium,5,800,False