"Mini-Challenge" ‡∏à‡∏≥‡∏•‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏Å‡∏≤‡∏£‡∏ì‡πå‡∏à‡∏£‡∏¥‡∏á‡∏°‡∏≤‡πÉ‡∏´‡πâ‡∏Ñ‡∏£‡∏±‡∏ö ‡πÇ‡∏î‡∏¢‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏à‡∏≤‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏ö‡∏£‡∏¥‡∏©‡∏±‡∏ó ‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡πà‡∏≠‡∏¢‡πÜ ‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏Ñ‡∏ß‡∏≤‡∏°‡∏¢‡∏≤‡∏Å‡∏Ç‡∏∂‡πâ‡∏ô‡∏Ñ‡∏£‡∏±‡∏ö

üõ†Ô∏è ‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏ó‡∏µ‡πà 1: ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏ä‡∏∏‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Dataset)
‡πÉ‡∏´‡πâ‡∏Ñ‡∏∏‡∏ì Copy ‡πÇ‡∏Ñ‡πâ‡∏î‡∏ô‡∏µ‡πâ‡πÑ‡∏õ‡∏£‡∏±‡∏ô‡πÉ‡∏ô Jupyter Notebook ‡∏´‡∏£‡∏∑‡∏≠ Python Editor ‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì‡∏Å‡πà‡∏≠‡∏ô ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á DataFrame ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏ù‡∏∂‡∏Å‡∏Ñ‡∏£‡∏±‡∏ö

In [2]:
import pandas as pd
import numpy as np

# ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏≥‡∏•‡∏≠‡∏á
data = {
    'Employee_ID': ['E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07', 'E08'],
    'Name': ['Somchai', 'Somsak', 'Suda', 'Malee', 'Wichai', 'Mana', 'Veena', 'Piti'],
    'Department': ['HR', 'IT', 'Sales', 'HR', 'IT', 'Sales', 'Marketing', 'IT'],
    'Salary': [25000, 45000, 32000, 28000, 52000, 35000, 29000, 48000],
    'Age': [28, 35, 30, 26, 38, 32, 27, 34],
    'Performance_Score': [4.5, 3.8, 4.2, 4.0, 3.5, 4.8, 4.1, 4.9]
}

df = pd.read_csv('employee_data.csv') if False else pd.DataFrame(data) # ‡πÉ‡∏ä‡πâ DataFrame ‡∏ô‡∏µ‡πâ‡∏ù‡∏∂‡∏Å
print("‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏±‡πâ‡∏á‡∏ï‡πâ‡∏ô:")
print(df)

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏±‡πâ‡∏á‡∏ï‡πâ‡∏ô:
  Employee_ID     Name Department  Salary  Age  Performance_Score
0         E01  Somchai         HR   25000   28                4.5
1         E02   Somsak         IT   45000   35                3.8
2         E03     Suda      Sales   32000   30                4.2
3         E04    Malee         HR   28000   26                4.0
4         E05   Wichai         IT   52000   38                3.5
5         E06     Mana      Sales   35000   32                4.8
6         E07    Veena  Marketing   29000   27                4.1
7         E08     Piti         IT   48000   34                4.9

Level 1: ‡∏Å‡∏≤‡∏£‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏î‡∏π‡πÅ‡∏•‡∏∞‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏û‡∏∑‡πâ‡∏ô‡∏ê‡∏≤‡∏ô
‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏à‡∏á‡πÅ‡∏™‡∏î‡∏á‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠ (Name) ‡πÅ‡∏•‡∏∞‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô (Salary) ‡∏Ç‡∏≠‡∏á‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡πÅ‡∏ú‡∏ô‡∏Å 'IT' ‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô

‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏à‡∏á‡∏´‡∏≤‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡∏°‡∏µ ‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 30,000 ‡∏ö‡∏≤‡∏ó ‡πÅ‡∏•‡∏∞‡∏°‡∏µ Performance Score ‡∏™‡∏π‡∏á‡∏Å‡∏ß‡πà‡∏≤ 4.0

In [ ]:
dept_it = df[df['Department'] == 'IT']
print("\n‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡πÉ‡∏ô‡πÅ‡∏ú‡∏ô‡∏Å IT ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô:")
print(dept_it[['Name','Salary']])

‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡πÉ‡∏ô‡πÅ‡∏ú‡∏ô‡∏Å IT ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô:
     Name  Salary
1  Somsak   45000
4  Wichai   52000
7    Piti   48000

‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏à‡∏á‡∏´‡∏≤‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡∏°‡∏µ ‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 30,000 ‡∏ö‡∏≤‡∏ó ‡πÅ‡∏•‡∏∞‡∏°‡∏µ Performance Score ‡∏™‡∏π‡∏á‡∏Å‡∏ß‡πà‡∏≤ 4.0

In [10]:
good_performers = df[(df['Performance_Score'] > 4.0) & (df['Salary'] > 30000)]
print("\n‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏á‡∏≤‡∏ô‡∏™‡∏π‡∏á‡∏Å‡∏ß‡πà‡∏≤ 4.0 ‡πÅ‡∏•‡∏∞‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 30000:")
print(good_performers)

‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏á‡∏≤‡∏ô‡∏™‡∏π‡∏á‡∏Å‡∏ß‡πà‡∏≤ 4.0 ‡πÅ‡∏•‡∏∞‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤ 30000:
  Employee_ID  Name Department  Salary  Age  Performance_Score
2         E03  Suda      Sales   32000   30                4.2
5         E06  Mana      Sales   35000   32                4.8
7         E08  Piti         IT   48000   34                4.9

Level 2: ‡∏Å‡∏≤‡∏£‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡πÅ‡∏•‡∏∞‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡∏°‡πà
‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏ö‡∏£‡∏¥‡∏©‡∏±‡∏ó‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡∏õ‡∏£‡∏±‡∏ö‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô 10% ‡πÉ‡∏´‡πâ‡∏ó‡∏∏‡∏Å‡∏Ñ‡∏ô ‡∏à‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡∏°‡πà‡∏ä‡∏∑‡πà‡∏≠ New_Salary ‡πÇ‡∏î‡∏¢‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏à‡∏≤‡∏Å Salary ‡πÄ‡∏î‡∏¥‡∏° * 1.1

In [22]:
df['New_Salary'] = df['Salary'] * 1.1
print("\n‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡πÉ‡∏´‡∏°‡πà (‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏Ç‡∏∂‡πâ‡∏ô 10%):")
print(df[['Name', 'Department', 'Salary', 'New_Salary']])

‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡πÉ‡∏´‡∏°‡πà (‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏Ç‡∏∂‡πâ‡∏ô 10%):
      Name Department  Salary  New_Salary
0  Somchai         HR   25000     27500.0
1   Somsak         IT   45000     49500.0
2     Suda      Sales   32000     35200.0
3    Malee         HR   28000     30800.0
4   Wichai         IT   52000     57200.0
5     Mana      Sales   35000     38500.0
6    Veena  Marketing   29000     31900.0
7     Piti         IT   48000     52800.0

Level 3: ‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Aggregation & Grouping)

‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏à‡∏á‡∏´‡∏≤ ‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢ (Mean Salary) ‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡πÅ‡∏ú‡∏ô‡∏Å (Department)

In [18]:
mean_salary = df.groupby('Department')['Salary'].mean()
print("\n‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏ï‡∏≤‡∏°‡πÅ‡∏ú‡∏ô‡∏Å:")
print(mean_salary)

‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏ï‡∏≤‡∏°‡πÅ‡∏ú‡∏ô‡∏Å:
Department
HR           26500.000000
IT           48333.333333
Marketing    29000.000000
Sales        33500.000000
Name: Salary, dtype: float64


‡πÇ‡∏à‡∏ó‡∏¢‡πå: ‡∏à‡∏á‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏û‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡πÅ‡∏ú‡∏ô‡∏Å ‡πÅ‡∏•‡∏∞‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏à‡∏≤‡∏Å‡∏°‡∏≤‡∏Å‡πÑ‡∏õ‡∏ô‡πâ‡∏≠‡∏¢

In [23]:
count_department = df['Department'].value_counts()
count_department = count_department.sort_values()
print(count_department)

Department
Marketing    1
HR           2
Sales        2
IT           3
Name: count, dtype: int64