In [8]:
import pandas as pd

# 1. อ่านไฟล์ (เหมือนเปิดไฟล์ excel)
df = pd.read_csv('../datasets/stock.csv')
df.head()

     Product  Cost  Price  Quantity
0      Mouse   150    290       100
1   Keyboard   300    590        50
2    Monitor  2500   4500        20
3  USB_Cable    50    120       200

In [11]:
# 2. สร้างคอลัมน์ใหม่ "กำไรทั้งหมด" (Total_Profit)
# สูตร: (ราคาขาย - ราคาทุน) * จำนวนที่ขาย
df['Total_Profit'] = (df['Price'] - df['Cost']) * df['Quantity']
total = df['Total_Profit'].sum()
# 3. โชว์ผลลัพธ์
print(df)
print(total)

     Product  Cost  Price  Quantity  Total_Profit
0      Mouse   150    290       100         14000
1   Keyboard   300    590        50         14500
2    Monitor  2500   4500        20         40000
3  USB_Cable    50    120       200         14000
82500